<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<title>FICHE MORTIER : {{entity.nomine}}</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Titre 1 Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
h2
	{mso-style-link:"Titre 2 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h3
	{mso-style-link:"Titre 3 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h4
	{mso-style-link:"Titre 4 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:99.8pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-43.1pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
h5
	{mso-style-link:"Titre 5 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:121.35pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-50.45pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h6
	{mso-style-link:"Titre 6 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:148.85pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-63.8pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"Titre 7 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:175.8pt;
	text-align:justify;
	text-indent:-76.55pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"En-tête Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pied de page Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-link:"Corps de texte Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texte de bulles Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
span.Titre1Car
	{mso-style-name:"Titre 1 Car";
	mso-style-link:"Titre 1";
	font-family:"Cambria","serif";
	color:#365F91;
	font-weight:bold;}
span.Titre2Car
	{mso-style-name:"Titre 2 Car";
	mso-style-link:"Titre 2";
	font-weight:bold;}
span.Titre3Car
	{mso-style-name:"Titre 3 Car";
	mso-style-link:"Titre 3";
	font-weight:bold;}
span.Titre4Car
	{mso-style-name:"Titre 4 Car";
	mso-style-link:"Titre 4";
	font-weight:bold;}
span.Titre5Car
	{mso-style-name:"Titre 5 Car";
	mso-style-link:"Titre 5";
	font-weight:bold;}
span.Titre6Car
	{mso-style-name:"Titre 6 Car";
	mso-style-link:"Titre 6";
	font-weight:bold;}
span.Titre7Car
	{mso-style-name:"Titre 7 Car";
	mso-style-link:"Titre 7";}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-link:En-tête;
	font-family:"Times New Roman","serif";}
span.PieddepageCar
	{mso-style-name:"Pied de page Car";
	mso-style-link:"Pied de page";
	font-family:"Times New Roman","serif";}
span.CorpsdetexteCar
	{mso-style-name:"Corps de texte Car";
	mso-style-link:"Corps de texte";}
span.TextedebullesCar
	{mso-style-name:"Texte de bulles Car";
	mso-style-link:"Texte de bulles";
	font-family:"Tahoma","sans-serif";}
p.msochpdefault, li.msochpdefault, div.msochpdefault
	{mso-style-name:msochpdefault;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
.MsoChpDefault
	{font-size:10.0pt;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:21.25pt 70.9pt 22.7pt 70.9pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

<link rel=icon type="image/x-icon" href="{{asset('favicon.ico')}}">
</head>

<body lang=FR link=blue vlink=purple>

<div class=WordSection1>

<p class=MsoNormal><span style='font-size:12.0pt'>{% block favicon %} {%
endblock %} </span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=171 colspan=2 style='width:127.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=379 colspan=4 style='width:284.6pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>MORTIER</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:22.4pt'></td>
 </tr>
 <tr style='page-break-inside:avoid;height:25.05pt'>
  <td width=364 colspan=4 rowspan=2 style='width:273.15pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:25.05pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : {{ entity.nomine }}</span></b></p>
  </td>
  <td width=359 colspan=3 style='width:269.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.05pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de création de la fiche</span></b><span style='font-size:12.0pt'>&nbsp;:</span><span
  style='font-size:14.0pt'> </span><span style='font-family:"Arial","sans-serif"'>{{entity.dateCreation|date
  ('d M Y')}}</span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:25.05pt'></td>
 </tr>
 <tr style='page-break-inside:avoid;height:19.1pt'>
  <td width=359 colspan=3 style='width:269.35pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:19.1pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de mise à jour</span></b><span style='font-size:12.0pt'>&nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{entity.dateMAJ|date ('d M Y')}}</span><span
  style='font-size:12.0pt'>&nbsp; </span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:19.1pt'></td>
 </tr>
 <tr>
  <td width=76 style='width:57.05pt;border-top:none;border-left:double windowtext 1.5pt;
  border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>TYPE </span></b><span
  style='font-size:12.0pt'>: </span></p>
  </td>
  <td width=264 colspan=2 style='width:198.15pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span style='font-size:12.0pt'>{{mortier.typeMortier}}</span></p>
  </td>
  <td width=147 colspan=2 style='width:110.3pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>DENOM. OTAN</span></b></p>
  </td>
  <td width=236 colspan=2 style='width:177.0pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span style='font-size:11.0pt'>{{
  entity.denominationOTAN }}</span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=340 colspan=3 style='width:255.2pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;border-right:
  solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>PAYS D’ORIGINE</span></b></p>
  </td>
  <td width=383 colspan=4 style='width:287.3pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{% for
  munition in entity.pays %} &nbsp;{{munition.pays}} &nbsp;{%endfor%}</span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:40.55pt'>
  <td width=723 colspan=7 style='width:542.5pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:40.55pt'>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.images is defined %}{% for images in entity.images%}{% if
  loop.index == 1 %}</span><img width=40%
  src="{{app.request.basepath}}/uploads/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:40.55pt'></td>
 </tr>
 <tr style='page-break-inside:avoid;height:42.25pt'>
  <td width=340 colspan=3 valign=top style='width:255.2pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:42.25pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>GENERALITES</span></u></b><b><span
  style='font-size:12.0pt'> :</span></b>&nbsp; </p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><u>Calibre</u>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
  <span style='font-family:"Arial","sans-serif"'>{{mortier.calibre}}</span></p>
  <p class=MsoNormal><u>Nature de l’enveloppe</u> &nbsp;&nbsp;&nbsp;:&nbsp; <span
  style='font-family:"Arial","sans-serif"'>{{mortier.natureEnveloppe}}</span></p>
  <p class=MsoNormal><u><span style='background:white'>Guidage </span></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
  <span style='font-family:"Arial","sans-serif"'>{{mortier.guidage}}</span></p>
  </td>
  <td width=383 colspan=4 rowspan=2 valign=top style='width:287.3pt;border-top:
  none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:42.25pt'>
<p class=MsoNormal><b><u><span style='font-size:12.0pt'>CHARGEMENT</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>: </span></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Charge militaire&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Principal&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssocies}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChargeMili}}
  {{entity.uniteQMA}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.nBExploAlter ==1
  %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssociesAlter1}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsExploAlter1}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% elseif entity.nBExploAlter
  ==2 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssociesAlter2}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsExploAlter1}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% endif %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.ChimiqueAssocies
  is not null %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Principal&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssocies }}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChim}}{%
  endif %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.nBChimAlter ==1 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssociesAlter1}}</p>
  <p class=MsoNormal><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChimAlter1}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% elseif entity.nBChimAlter
  ==2 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssociesAlter2}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChimAlter2}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% endif %}</p>
  </td>
  <td width=365 colspan=5 valign=top style='width:274.1pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm;height:296.7pt'>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Nature Charge
  Inerte&nbsp;:</span></b>{{entity.natureChargeInerte}}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Effet terminal&nbsp;:</span></b>
  {%for munition in
  mortier.effetChargement%}&nbsp;{{munition.effetChargement}}&nbsp;
  {%endfor%}</p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Charge de dispersion</span></b><span
  style='font-size:12.0pt'>&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Nature</u>&nbsp; &nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{% for munition in
  mortier.natureChargeDispersion%} {{munition.natureChargeDispersion}} {%endfor%}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Poids</u>&nbsp;&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.poidsChargeDisp}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Gargousses&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Nombre</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.nbGargousses}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Poids</u>&nbsp;&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.poidsGargousse}}</span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:42.25pt'></td>
 </tr>
 <tr style='page-break-inside:avoid;height:53.55pt'>
  <td width=340 colspan=3 rowspan=3 valign=top style='width:255.2pt;border-top:
  none;border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:53.55pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>ASPECT-DIMENSIONS </span></u></b><span
  style='font-size:12.0pt'>:</span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><u>Hauteur sous fusée</u>. &nbsp;:
  {{mortier.lgTotsansFusee}}</p>
  <p class=MsoNormal><u>Poids munitions</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.poids}}</span></p>
  <p class=MsoNormal><u>Forme ogive</u>&nbsp;:&nbsp; <span style='font-family:
  "Arial","sans-serif"'>{{mortier.formeOgive}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <u>Ø de l’œil (mm)</u>&nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.diametreDelOeil}}</span></p>
  <p class=MsoNormal><u>Forme corps</u>&nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.formeCorps}}</span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Renflement de
  centrage&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Type</u>&nbsp;:&nbsp;<span
  style='font-family:"Arial","sans-serif"'>{{mortier.typeRenflement}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Nb</u>&nbsp;:
  <span style='font-family:"Arial","sans-serif"'>{{mortier.diametreDelOeil}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Empennage&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Type</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.typeEmpennage}}</span>&nbsp;<u>Longueur
  (mm)&nbsp;:<b> </b></u><span style='font-family:"Arial","sans-serif"'>{{mortier.longEmpennage}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Ailettes&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Type</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.typeAilettes}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Longueur
  (mm)</u>&nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.longAilette}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Forme</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.nbAilettes}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <u>Nb</u>&nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.nbAilettes}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Ceintures&nbsp;:</span></b></p>
  <p class=MsoNormal><u>Type de ceinture</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; <span style='font-family:"Arial","sans-serif"'>{%
  for munition in mortier.typeCeinture%} {{munition.typeCeinture}} {%endfor%}</span>
  </p>
  <p class=MsoNormal><u>Nb de ceintures</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.nombreCeintures}}</span></p>
  <p class=MsoNormal><u>Distance ceinture-culot</u>&nbsp; &nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.distCeintCulot}}</span></p>
  <p class=MsoNormal><span style='left:-4px;position:relative;top:15px;
  z-index:251764224'><b>&nbsp;</b></p>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>AMORCAGE</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:12.0pt'>:</span></p>
  <p class=MsoNormal><span style='font-family:"Arial","sans-serif"'>{% if
  mortier.ogiveFusee is not null%}</span><u>Ogive</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.ogiveFusee}}</span> <u>Type</u>&nbsp;:<span
  style='font-family:"Arial","sans-serif"'>
  {{mortier.typeFusee}}{%else%}{%endif%}</span></p>
  <p class=MsoNormal><span style='font-family:"Arial","sans-serif"'>{% if
  mortier.ogiveFusee1 is not null%}</span><u>Ogive 2</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.ogiveFusee1}}</span> <u>Type</u>&nbsp;:<u>
  </u><span style='font-family:"Arial","sans-serif"'>{{mortier.typeFusee1}}{%else%}{%endif%}</span></p>
  <p class=MsoNormal><span style='font-family:"Arial","sans-serif"'>{% if
  mortier.ogiveFusee2 is not null%}</span><u>Ogive 3</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.ogiveFusee2}}</span> <u>Type</u>&nbsp;:<u>
  </u><span style='font-family:"Arial","sans-serif"'>{{mortier.typeFusee2}}{%else%}{%endif%}</span></p>
  <p class=MsoNormal><span style='font-family:"Arial","sans-serif"'>{% if
  mortier.ogiveFusee3 is not null%}</span><u>Ogive 4</u>&nbsp;: <span
  style='font-family:"Arial","sans-serif"'>{{mortier.ogiveFusee3}}</span> <u>Type</u>&nbsp;:<u>
  </u><span style='font-family:"Arial","sans-serif"'>{{mortier.typeFusee3}}{%else%}{%endif%}</span></p>
  </td>
  </span>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:53.55pt'></td>
 </tr>
 <tr style='height:214.8pt'>
  <td width=383 colspan=4 valign=top style='width:287.3pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:214.8pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>MARQUAGES</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>:&nbsp; </span></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Ogive&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Couleur</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.couleurOgive}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Type d’inscription</u>&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.typeInscOgive}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Couleur inscription</u>&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.couleurInscOgive}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Nb de bandes </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
  <span style='font-family:"Arial","sans-serif"'>{{mortier.nbBandesOgive}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Corps&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Couleur</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.couleurCorps}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Type d’inscription</u>&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.typeInscCorps}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Couleur inscription</u>&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.couleurInscCorps}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Nb de bandes </u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
  <span style='font-family:"Arial","sans-serif"'>{{mortier.nbBandesCorps}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Culot&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Couleur</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.couleurCulot}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Type d’inscription</u>&nbsp;&nbsp;
  &nbsp;: <span style='font-family:"Arial","sans-serif"'>{{mortier.typeInscCulot}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u>Inscription</u>&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  : <span style='font-family:"Arial","sans-serif"'>{{mortier.inscriptionCulot}}</span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:214.8pt'></td>
 </tr>
 <tr style='height:67.6pt'>
  <td width=383 colspan=4 valign=top style='width:287.3pt;border-top:none;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:67.6pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>LISTE DES
  SOURCES&nbsp;:</span></u></b></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt'>{%for munition
  in entity.origineInfos %}&nbsp; {{munition.origineInfos }}&nbsp; {%endfor%}</span></p>
  </td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:67.6pt'></td>
 </tr>
 <tr style='height:2.85pt'>
  <td width=76 style='width:57.05pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=95 style='width:70.9pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=170 style='width:127.25pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=24 style='width:17.95pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=123 style='width:92.35pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=63 style='width:47.05pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=173 style='width:129.95pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=4 style='width:3.3pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.0pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><img
  width=32 height=40 src="{{asset('images/piam.png')}}"></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.85pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>MORTIER</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{ entity.coherenceInformation
  }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:106.55pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:106.55pt'>
  <p class=MsoBodyText align=left style='margin-top:6.0pt;text-align:left;
  text-indent:3.6pt'><b><u><span lang=EN-US>AMORCAGE</span></u></b><b><span
  lang=EN-US> </span></b><span lang=EN-US>:&nbsp; </span></p>
<p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in
  entity.imagesFusees%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/FuseesAllumeurs/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  <p class=MsoHeader><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in
  entity.imagesFusees%}{% if loop.index == 2 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/FuseesAllumeurs/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.0pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><img
  width=32 height=40 src="{{asset('images/piam.png')}}"></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'>FEOD</p>
  </td>
  <td width=385 style='width:288.85pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>MORTIER</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:113.6pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:113.6pt'>
  <p class=MsoBodyText align=left style='margin-top:6.0pt;text-align:left;
  text-indent:3.6pt'><b><u><span lang=EN-US>MARQUAGE</span></u></b><b><span
  lang=EN-US> </span></b><span lang=EN-US>:&nbsp; </span></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesMarquages is defined %}{% for images in
  entity.imagesMarquages%}{% if loop.index == 1 %}</span><img width=60%
  src="{{app.request.basepath}}/uploads/Marquages/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  <p class=MsoHeader><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.0pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><img
  width=32 height=40 src="{{asset('images/piam.png')}}"></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.85pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>MORTIER</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:113.6pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:113.6pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;</span></b><span style='font-size:12.0pt'>&nbsp;</span>&nbsp;</p>
  <p class=MsoBodyText><span style='font-size:10.0pt'>{{ entity.fonctionnement
  }}</span></p>
  <p class=MsoHeader>&nbsp;</p>
  <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in entity.imagesFonctionnement%}{%
  if loop.index == 1 %}<img width=60%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.0pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><img
  width=32 height=40 src="{{asset('images/piam.png')}}"></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.85pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>MORTIER</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:92.35pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:92.35pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in
  entity.imagesFonctionnement%}{% if loop.index == 2 %}<img width=45%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFonctionnement is defined %}{% for images in
  entity.imagesFonctionnement%}{% if loop.index == 3 %}</span><img width=45%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='height:89.45pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:89.45pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>SECURITE :&nbsp;&nbsp; </u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'><span style='font-size:10.0pt'>{{
  entity.securite }}<u> </u></span></p>
  <p class=MsoHeader><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.0pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><img
  width=32 height=40 src="{{asset('images/piam.png')}}"></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.85pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>MORTIER</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:113.6pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:113.6pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>TRAITEMENT&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span
  lang=EN-US style='font-size:12.0pt'>&nbsp;</span><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoBodyText><span lang=EN-US style='font-size:10.0pt'>{{ entity.NEDE
  }}</span></p>
  <p class=MsoHeader><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesTraitement is defined %}{% for images in
  entity.imagesTraitement%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/Traitement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=189 style='width:141.8pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><img
  width=32 height=40 src="{{asset('images/piam.png')}}"></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=378 style='width:10.0cm;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>MORTIER</span></b></p>
  </td>
  <td width=161 style='width:120.5pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'>&nbsp;</p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : &nbsp;&nbsp;{{ entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:379.35pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:379.35pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>CONDITIONNEMENT</u> </b>:</p>
  <p class=MsoBodyText style='margin-top:6.0pt'>&nbsp;</p>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
   style='border-collapse:collapse'>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Type d’emballage</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{% for munition in entity.conditionnementTypeEmballage
    %}&nbsp; {{munition.Emballage}}&nbsp; {%endfor%}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Quantité </span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementQteEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Marquage </span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementMarquageEmballage}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Cloisonnement</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{%for munition in
    entity.conditionnementTypeCloisonnement%}&nbsp; {{munition.cloison}}&nbsp;
    {%endfor%}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=98 style='width:73.75pt;border:solid windowtext 1.5pt;border-top:
    none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Hauteur (cm)</span></p>
    </td>
    <td width=86 style='width:64.35pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageHaut}}</p>
    </td>
    <td width=94 colspan=2 style='width:70.35pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Largeur (cm)</span></p>
    </td>
    <td width=85 style='width:63.75pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLarg}}</p>
    </td>
    <td width=95 style='width:70.9pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Longueur (cm)</span></p>
    </td>
    <td width=76 style='width:2.0cm;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLong}}</p>
    </td>
    <td width=94 colspan=2 style='width:70.85pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Volume (m³)</span></p>
    </td>
    <td width=84 style='width:63.15pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementVolumeEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids de l’emballage (kg)</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementPoidsEmballage}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids total (kg)</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementPoidsTotal}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage mini (°C)</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempStockMin}}</p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage max (°C)</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempStockMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation mini
    (°C)</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMin}}</p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation max (°C)</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Classe
    de stockage/ </span></p>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Groupe
    de comptabilité</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for
    munition in entity.conditionnementClasseDangerStockage%}&nbsp;
    {{munition.classeDangerStockage}}&nbsp; {%endfor%}</span></p>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for
    munition in entity.conditionnementGroupeComptabiliteStockage %}&nbsp;
    {{munition.groupeComptabiliteStockage}}&nbsp; {%endfor%}</span></p>
    </td>
    <td style='padding:0cm 0cm 0cm 0cm;height:1.0cm'></td>
    <td style='padding:0cm 0cm 0cm 0cm;height:1.0cm'></td>
    <td style='padding:0cm 0cm 0cm 0cm;height:1.0cm'></td>
    <td style='padding:0cm 0cm 0cm 0cm;height:1.0cm'></td>
    <td style='padding:0cm 0cm 0cm 0cm;height:1.0cm'></td>
   </tr>
   <tr>
    <td width=64 style='width:48.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=273 style='width:204.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=39 style='width:29.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=31 style='width:23.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=270 style='width:202.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=74 style='width:55.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=273 style='width:204.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:30.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=24 style='width:18.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=265 style='width:198.75pt;padding:0cm 0cm 0cm 0cm'></td>
   </tr>
  </table>
  <p class=MsoNormal style='text-align:justify'><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesConditionnement is defined %}{% for images in
  entity.imagesConditionnement%}{% if loop.index == 1 %}</span><img width=40%
  src="{{app.request.basepath}}/uploads/Conditionnement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='height:103.4pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:103.4pt'>
  <p class=MsoBodyText style='margin-top:6.0pt;text-indent:3.6pt'><b><u>REMARQUES&nbsp;:</u></b></p>
  <p class=MsoNormal style='margin-top:5.0pt'>{{ entity.remarques }}</p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='font-size:12.0pt'>&nbsp;</span></p>

</div>

</body>

</html>
