<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<title>FICHE AMORÇAGE : {{entity.nomine}}</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Titre 1 Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
h2
	{mso-style-link:"Titre 2 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h3
	{mso-style-link:"Titre 3 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h4
	{mso-style-link:"Titre 4 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:99.8pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-43.1pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
h5
	{mso-style-link:"Titre 5 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:121.35pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-50.45pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h6
	{mso-style-link:"Titre 6 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:148.85pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-63.8pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"Titre 7 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:175.8pt;
	text-align:justify;
	text-indent:-76.55pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"En-tête Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pied de page Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-link:"Corps de texte Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
code
	{font-family:"Courier New";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texte de bulles Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
span.Titre1Car
	{mso-style-name:"Titre 1 Car";
	mso-style-link:"Titre 1";
	font-family:"Cambria","serif";
	color:#365F91;
	font-weight:bold;}
span.Titre2Car
	{mso-style-name:"Titre 2 Car";
	mso-style-link:"Titre 2";
	font-weight:bold;}
span.Titre3Car
	{mso-style-name:"Titre 3 Car";
	mso-style-link:"Titre 3";
	font-weight:bold;}
span.Titre4Car
	{mso-style-name:"Titre 4 Car";
	mso-style-link:"Titre 4";
	font-weight:bold;}
span.Titre5Car
	{mso-style-name:"Titre 5 Car";
	mso-style-link:"Titre 5";
	font-weight:bold;}
span.Titre6Car
	{mso-style-name:"Titre 6 Car";
	mso-style-link:"Titre 6";
	font-weight:bold;}
span.Titre7Car
	{mso-style-name:"Titre 7 Car";
	mso-style-link:"Titre 7";}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-link:En-tête;
	font-family:"Times New Roman","serif";}
span.PieddepageCar
	{mso-style-name:"Pied de page Car";
	mso-style-link:"Pied de page";
	font-family:"Times New Roman","serif";}
span.CorpsdetexteCar
	{mso-style-name:"Corps de texte Car";
	mso-style-link:"Corps de texte";}
span.TextedebullesCar
	{mso-style-name:"Texte de bulles Car";
	mso-style-link:"Texte de bulles";
	font-family:"Tahoma","sans-serif";}
p.msolistparagraphcxspfirst, li.msolistparagraphcxspfirst, div.msolistparagraphcxspfirst
	{mso-style-name:msolistparagraphcxspfirst;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.msolistparagraphcxspmiddle, li.msolistparagraphcxspmiddle, div.msolistparagraphcxspmiddle
	{mso-style-name:msolistparagraphcxspmiddle;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.msolistparagraphcxsplast, li.msolistparagraphcxsplast, div.msolistparagraphcxsplast
	{mso-style-name:msolistparagraphcxsplast;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.msochpdefault, li.msochpdefault, div.msochpdefault
	{mso-style-name:msochpdefault;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
.MsoChpDefault
	{font-size:10.0pt;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:21.25pt 70.9pt 44.5pt 70.9pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

<link rel=icon type="image/x-icon" href="{{asset('favicon.ico')}}">
</head>

<body lang=FR link=blue vlink=purple>

<div class=WordSection1>

<p class=MsoNormal><span style='font-size:12.0pt'>{% block favicon %} {%
endblock %} </span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=731
 style='width:548.2pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.45pt'>
  <td width=113 colspan=2 style='width:84.85pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.45pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=366 colspan=4 style='width:274.4pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.45pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=252 style='width:188.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.45pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:25.1pt'>
  <td width=419 colspan=4 rowspan=2 style='width:314.05pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:25.1pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : {{ entity.nomine }}</span></b></p>
  </td>
  <td width=312 colspan=3 style='width:234.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.1pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de création de la fiche</span></b><span style='font-size:12.0pt'>&nbsp;: </span>{{entity.dateCreation|date
  ('d M Y')}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:19.15pt'>
  <td width=312 colspan=3 style='width:234.15pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:19.15pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de mise à jour</span></b><span style='font-size:12.0pt'>&nbsp;:</span>
  {{entity.dateMAJ|date ('d M Y')}}</p>
  </td>
 </tr>
 <tr style='height:31.3pt'>
  <td width=64 style='width:48.0pt;border-top:none;border-left:double windowtext 1.5pt;
  border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:31.3pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>TYPE </span></b><span
  style='font-size:12.0pt'>: </span></p>
  </td>
  <td width=291 colspan=2 style='width:218.0pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:31.3pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{{entity.FuseeTypeAmorcage}}</span></p>
  </td>
  <td width=124 colspan=3 style='width:93.25pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:31.3pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>DENOM. OTAN</span></b></p>
  </td>
  <td width=252 style='width:188.95pt;border-top:none;border-left:none;
  border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:31.3pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span style='font-size:11.0pt'>&nbsp;{{
  entity.denominationOTAN }}</span></p>
  </td>
 </tr>
 <tr style='height:32.65pt'>
  <td width=355 colspan=3 style='width:266.0pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;border-right:
  solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:32.65pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>PAYS D’ORIGINE</span></b></p>
  </td>
  <td width=376 colspan=4 style='width:282.2pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:32.65pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{% for
  munition in entity.pays %} &nbsp;{{munition.pays}} &nbsp;{%endfor%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:24.25pt'>
  <td width=731 colspan=7 style='width:548.2pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:24.25pt'>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.images is defined %}{% for images in entity.images%}{% if
  loop.index == 1 %}</span><img width=33%
  src="{{app.request.basepath}}/uploads/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:295.9pt'>
  <td width=355 colspan=3 valign=top style='width:266.0pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:295.9pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>GENERALITES</span></u></b><b><span
  style='font-size:12.0pt'> :</span></b>&nbsp; </p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Poids (g)</span></u><span
  style='font-size:12.0pt'> : {{entity.poids}} {{entity.UnitePoidsFusee}}</span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Matériaux de
  Fabrication&nbsp;:</span></b></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Principale</span></u><span
  style='font-size:12.0pt'>&nbsp; : {{entity.NaturePrincipaleCorps}}</span></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Secondaire</span></u><span
  style='font-size:12.0pt'>&nbsp; : {{entity.NatureSecondaireCorps}}</span></p>
  <p class=MsoNormal><b>&nbsp;</b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Positionnement : </span></b><span
  style='font-size:12.0pt'>{{entity.Positionnement}}</span></p>
  <p class=MsoNormal><span style='font-family:"Arial","sans-serif"'>{% if
  entity.IndicateurArmement ==1 %}</span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Indicateur
  armement&nbsp;:</span></b></p>
  <p class=MsoNormal><i><u>Position&nbsp;</u></i> {{entity.PositionIndicateurArmement}}</p>
  <p class=MsoNormal><i><u>Type&nbsp;</u></i> {{entity.TypeIndicateurArmement}}</p>
  <p class=MsoNormal>{% else %}{% endif %}</p>
  <p class=MsoNormal>{% if entity.DispositifArmementExterieur ==1 %}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Dispositif armement
  exterieur&nbsp;:</span></b></p>
  <p class=MsoNormal><i><u>Type&nbsp;: </u></i>{{entity.TypeDAE}}</p>
  <p class=MsoNormal>{% else %}{% endif %}</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Auto-Destruction&nbsp;:</span></b></p>
  <p class=MsoNormal><i><u>Type&nbsp;: </u></i>{{entity.TypeAutoDestruction}}</p>
  <p class=MsoNormal><i><u>Type&nbsp;: </u></i>{{entity.DelaiAutodestruction}}</p>
  </td>
  <td width=376 colspan=4 rowspan=2 valign=top style='width:282.2pt;border-top:
  none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:295.9pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>CHARGEMENT</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>: </span></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Charge militaire&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Principal&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssocies}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChargeMili}}
  {{entity.uniteQMA}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.nBExploAlter ==1
  %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssociesAlter1}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsExploAlter1}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% elseif entity.nBExploAlter
  ==2 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssociesAlter2}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsExploAlter1}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% endif %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>&nbsp;</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.ChimiqueAssocies
  is not null %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Principal&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssocies }}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChim}}{%
  endif %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.nBChimAlter ==1 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssociesAlter1}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChimAlter1}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% elseif entity.nBChimAlter
  ==2 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssociesAlter2}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChimAlter2}}
  {% endif %}</p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal>{% if entity.nbrAmorce is not null %}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Amorçe&nbsp;:</span></b>
  {{entity.nbrAmorce}} &nbsp;<i><u><span style='font-family:"Arial","sans-serif"'>Poids
  (g)</span></u></i><i><span style='font-family:"Arial","sans-serif"'>&nbsp;:</span></i>
  {{entity.nbrAmorce}}{% endif %}</p>
  <p class=MsoNormal>{% if entity.nbrAmorce is not null %}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Relais&nbsp;:</span></b>
  {{entity.nbrRelais}} &nbsp;<i><u><span style='font-family:"Arial","sans-serif"'>Poids
  (g)</span></u></i><i><span style='font-family:"Arial","sans-serif"'>&nbsp;:</span></i>
  {{entity.nbrRelais}}{% endif %}</p>
  <p class=MsoNormal>{% if entity.nbrAmorce is not null %}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Détonateur&nbsp;:</span></b>
  {{entity.nbrDetonateur}} &nbsp;<i><u><span style='font-family:"Arial","sans-serif"'>Poids
  (g)</span></u></i><i><span style='font-family:"Arial","sans-serif"'>&nbsp;:</span></i>
  {{entity.nbrDetonateur}}{% endif %}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:121.55pt'>
  <td width=355 colspan=3 valign=top style='width:266.0pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:121.55pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>LISTE DES
  SOURCES&nbsp;:</span></u></b></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt'>{% for munition
  in entity.origineInfos %}{{munition.origineInfos }}{% endfor %}</span></p>
  </td>
 </tr> 
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=729
 style='width:547.05pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=170 style='width:127.65pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=350 colspan=2 style='width:262.85pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=209 style='width:156.55pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=729 colspan=4 style='width:547.05pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:60.4pt'>
  <td width=729 colspan=4 valign=top style='width:547.05pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:60.4pt'>
  <p class=MsoHeader><span lang=EN-US style='font-family:"Arial","sans-serif";
  color:gray;background:white'>&nbsp;</span><b><u><span lang=EN-US
  style='font-size:12.0pt'>ASPECT-DIMENSIONS </span></u></b><span lang=EN-US
  style='font-size:16.0pt'>:</span></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesDimensions is defined %}{% for images in entity.imagesDimensions%}{% if
  loop.index == 1 %}</span><img width=60%
  src="{{app.request.basepath}}/uploads/Dimensions/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:54.7pt'>
  <td width=729 colspan=4 valign=top style='width:547.05pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:54.7pt'>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Forme&nbsp;: </span></b>{{entity.FormeFusee}}
  &nbsp;</p>
  <p class=MsoNormal style='text-indent:10.7pt'>&nbsp;</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Dimensions :</span></b></p>
  <p class=MsoNormal>&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
  Longueur(mm):{{entity.LongueurFusee}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
  Largeur(mm):{{entity.LargeurFusee}}</p>
  <p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;- Hauteur
  visible(mm):{{entity.hauteurVisible}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
  Ø (mm):{{entity.DiametreFusee}}</p>
  </td>
 </tr>
 <tr>
  <td width=170 style='width:127.65pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=180 style='width:134.85pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=171 style='width:128.0pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=209 style='width:156.55pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
 <tr>
  <td width=170 style='width:127.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=180 style='width:135.0pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=171 style='width:128.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=209 style='width:156.75pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:99.45pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:99.45pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>MUNITION(S) ASSOCIEE(S)&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span
  lang=EN-US style='font-size:12.0pt'>&nbsp;</span></p>
<p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in
  entity.imagesFusees%}{% if loop.index == 1 %}</span><img width=60%
  src="{{app.request.basepath}}/uploads/FuseesAllumeurs/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:78.15pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:78.15pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>MARQUAGES</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>:&nbsp; </span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>      Couleur
  Principale&nbsp;: </span></b><span style='font-size:12.0pt'>{{entity.couleurPrincipale}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>      Couleur
  Secondaire&nbsp;: </span></b><span style='font-size:12.0pt'>{{entity.couleurSecondaire}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>      Marquage à froid
  sur le corps&nbsp;:</span></b> <span style='font-size:12.0pt'>{{entity.MarquageFroidCorps}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>      Inscription sur le
  corps&nbsp;:</span></b> <span style='font-size:12.0pt'>{{entity.InscriptionCorps}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></b><i><u><span style='font-size:12.0pt'>Couleur&nbsp;</span></u></i><span
  style='font-size:12.0pt'>: {{entity.CouleurInscCorps}}</span></p>
  <p class=MsoBodyText>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i><u>Type&nbsp;</u></i>:
  {{entity.typeInscCorps}}</p>
  <p class=MsoBodyText><b><span lang=EN-US style='font-size:15.0pt'>&nbsp;</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesMarquages is defined %}{% for images in
  entity.imagesMarquages%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/Marquages/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:66.1pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:66.1pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span style='font-size:
  12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt'>{{ entity.fonctionnement
  }}&nbsp;</span></p>
  <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in entity.imagesFonctionnement%}{%
  if loop.index == 1 %}<img width=50%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}/{{ entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:53.3pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:53.3pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;</span></b></p>
   <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in
  entity.imagesFonctionnement%}{% if loop.index == 2 %}<img width=50%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  </td>
 </tr>
 <tr style='height:47.15pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:47.15pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>SECURITE :</u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'><span style='font-size:10.0pt'>{{
  entity.securite }}<u> </u></span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:80.3pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:80.3pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>TRAITEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span style='font-size:
  12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt'>{{ entity.NEDE }}&nbsp;</span></p>
  <p class=MsoBodyText>&nbsp;</p>
<p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesTraitement is defined %}{% for images in
  entity.imagesTraitement%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/Traitement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=189 style='width:141.8pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=378 style='width:10.0cm;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>AMORÇAGE</span></b></p>
  </td>
  <td width=161 style='width:120.5pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : {{ entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:386.45pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:386.45pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>CONDITIONNEMENT</u> </b>:
  &nbsp;</p>
  <p class=MsoNormal style='text-align:justify'>&nbsp;</p>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
   style='border-collapse:collapse'>
   <tr style='height:1.0cm'>
    <td width=141 colspan=2 style='width:105.65pt;border:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Type d’emballage</span></p>
    </td>
    <td width=302 colspan=4 style='width:226.15pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{% for munition in entity.conditionnementTypeEmballage
    %}&nbsp; {{munition.Emballage}}&nbsp; {%endfor%}</p>
    </td>
    <td width=139 colspan=3 style='width:104.25pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Quantité </span></p>
    </td>
    <td width=135 colspan=2 style='width:101.25pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementQteEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=141 colspan=2 style='width:105.65pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Marquage </span></p>
    </td>
    <td width=302 colspan=4 style='width:226.15pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementMarquageEmballage}}</p>
    </td>
    <td width=139 colspan=3 style='width:104.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Cloisonnement</span></p>
    </td>
    <td width=135 colspan=2 style='width:101.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt'>&nbsp;</span><span
    lang=EN-US>{%for munition in
    entity.conditionnementTypeCloisonnement%}&nbsp; {{munition.cloison}}&nbsp;
    {%endfor%}</span></p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=84 style='width:62.9pt;border:solid windowtext 1.5pt;border-top:
    none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Hauteur (cm)</span></p>
    </td>
    <td width=57 style='width:42.75pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementDimEmballageHaut}}</p>
    </td>
    <td width=144 colspan=2 style='width:108.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Largeur (cm)</span></p>
    </td>
    <td width=157 colspan=2 style='width:117.95pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementDimEmballageLarg}}</p>
    </td>
    <td width=87 colspan=2 style='width:65.5pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Longueur (cm)</span></p>
    </td>
    <td width=52 style='width:38.75pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLong}}</p>
    </td>
    <td width=80 style='width:59.8pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Volume (m³)</span></p>
    </td>
    <td width=55 style='width:41.45pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementVolumeEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=141 colspan=2 style='width:105.65pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids de l’emballage (kg)</span></p>
    </td>
    <td width=302 colspan=4 style='width:226.15pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementPoidsEmballage}}</p>
    </td>
    <td width=139 colspan=3 style='width:104.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids total (kg)</span></p>
    </td>
    <td width=135 colspan=2 style='width:101.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementPoidsTotal}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=168 colspan=3 style='width:125.8pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage mini (°C)</span></p>
    </td>
    <td width=180 colspan=2 style='width:134.65pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementTempStockMin}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage max (°C)</span></p>
    </td>
    <td width=199 colspan=4 style='width:149.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementTempStockMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=168 colspan=3 style='width:125.8pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation mini
    (°C)</span></p>
    </td>
    <td width=180 colspan=2 style='width:134.65pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMin}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation max (°C)</span></p>
    </td>
    <td width=199 colspan=4 style='width:149.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=168 colspan=3 style='width:125.8pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Classe
    de stockage/ </span></p>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Groupe
    de comptabilité</span></p>
    </td>
    <td width=180 colspan=2 style='width:134.65pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span><span
    lang=EN-US>{% for munition in
    entity.conditionnementClasseDangerStockage%}&nbsp;
    {{munition.classeDangerStockage}}&nbsp; {%endfor%}</span></p>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for munition
    in entity.conditionnementGroupeComptabiliteStockage %}&nbsp;
    {{munition.groupeComptabiliteStockage}}&nbsp; {%endfor%}</span></p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
    <td width=199 colspan=4 style='width:149.25pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
   </tr>
   <tr>
    <td width=64 style='width:48.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=277 style='width:207.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=27 style='width:20.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=151 style='width:113.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=150 style='width:112.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=157 style='width:117.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=68 style='width:51.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=6 style='width:4.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=273 style='width:204.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=64 style='width:48.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=269 style='width:201.75pt;padding:0cm 0cm 0cm 0cm'></td>
   </tr>
  </table>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesConditionnement is defined %}{% for images in
  entity.imagesConditionnement%}{% if loop.index == 1 %}</span><img width=40%
  src="{{app.request.basepath}}/uploads/Conditionnement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='height:46.8pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:46.8pt'>
  <p class=MsoBodyText style='margin-top:6.0pt;text-indent:3.6pt'><b><u>REMARQUES&nbsp;:</u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'><span style='font-size:10.0pt'>{{
  entity.remarques }} </span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
