<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<title>FICHE ROQUETTES : {{entity.nomine}}</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Titre 1 Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
h2
	{mso-style-link:"Titre 2 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h3
	{mso-style-link:"Titre 3 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h4
	{mso-style-link:"Titre 4 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:99.8pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-43.1pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
h5
	{mso-style-link:"Titre 5 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:121.35pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-50.45pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h6
	{mso-style-link:"Titre 6 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:148.85pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-63.8pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"Titre 7 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:175.8pt;
	text-align:justify;
	text-indent:-76.55pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"En-tête Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pied de page Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-link:"Corps de texte Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texte de bulles Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
span.Titre1Car
	{mso-style-name:"Titre 1 Car";
	mso-style-link:"Titre 1";
	font-family:"Cambria","serif";
	color:#365F91;
	font-weight:bold;}
span.Titre2Car
	{mso-style-name:"Titre 2 Car";
	mso-style-link:"Titre 2";
	font-weight:bold;}
span.Titre3Car
	{mso-style-name:"Titre 3 Car";
	mso-style-link:"Titre 3";
	font-weight:bold;}
span.Titre4Car
	{mso-style-name:"Titre 4 Car";
	mso-style-link:"Titre 4";
	font-weight:bold;}
span.Titre5Car
	{mso-style-name:"Titre 5 Car";
	mso-style-link:"Titre 5";
	font-weight:bold;}
span.Titre6Car
	{mso-style-name:"Titre 6 Car";
	mso-style-link:"Titre 6";
	font-weight:bold;}
span.Titre7Car
	{mso-style-name:"Titre 7 Car";
	mso-style-link:"Titre 7";}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-link:En-tête;
	font-family:"Times New Roman","serif";}
span.PieddepageCar
	{mso-style-name:"Pied de page Car";
	mso-style-link:"Pied de page";
	font-family:"Times New Roman","serif";}
span.CorpsdetexteCar
	{mso-style-name:"Corps de texte Car";
	mso-style-link:"Corps de texte";}
span.TextedebullesCar
	{mso-style-name:"Texte de bulles Car";
	mso-style-link:"Texte de bulles";
	font-family:"Tahoma","sans-serif";}
p.msochpdefault, li.msochpdefault, div.msochpdefault
	{mso-style-name:msochpdefault;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
.MsoChpDefault
	{font-size:10.0pt;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:21.25pt 70.9pt 44.5pt 70.9pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

<link rel=icon type="image/x-icon" href="%7b%7basset('favicon.ico')%7d%7d">
</head>

<body lang=FR link=blue vlink=purple>

<div class=WordSection1>

<p class=MsoNormal><span style='font-size:12.0pt'>{% block favicon %} {%
endblock %} </span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=154 colspan=2 style='width:115.45pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=393 colspan=4 style='width:295.0pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=180 style='width:135.35pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:25.05pt'>
  <td width=403 colspan=3 rowspan=2 style='width:302.4pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:25.05pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : {{ entity.nomine }}</span></b></p>
  </td>
  <td width=325 colspan=4 style='width:243.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.05pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de création de la fiche</span></b><span style='font-size:12.0pt'>&nbsp;: </span>{{entity.dateCreation|date
  ('d M Y')}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:19.1pt'>
  <td width=325 colspan=4 style='width:243.4pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:19.1pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de mise à jour</span></b><span style='font-size:12.0pt'>&nbsp;:</span><span
  style='font-size:14.0pt'> </span>{{entity.dateMAJ|date ('d M Y')}}</p>
  </td>
 </tr>
 <tr style='height:25.25pt'>
  <td width=144 style='width:107.75pt;border-top:none;border-left:double windowtext 1.5pt;
  border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.25pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>TYPE AMORCAGE</span></b><span
  style='font-size:12.0pt'>: </span></p>
  </td>
  <td width=260 colspan=2 style='width:194.65pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.25pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{{entity.FuseeTypeAmorcage}}</span></p>
  </td>
  <td width=126 colspan=2 style='width:94.45pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.25pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>DENOM. OTAN</span></b></p>
  </td>
  <td width=199 colspan=2 style='width:148.95pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.25pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span style='font-size:11.0pt'>{{
  entity.denominationOTAN }}</span></p>
  </td>
 </tr>
 <tr style='height:30.75pt'>
  <td width=403 colspan=3 style='width:302.4pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;border-right:
  solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:30.75pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>PAYS D’ORIGINE</span></b></p>
  </td>
  <td width=325 colspan=4 style='width:243.4pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:30.75pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{% for munition
  in entity.pays %} &nbsp;{{munition.pays}} &nbsp;{%endfor%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:32.25pt'>
  <td width=728 colspan=7 style='width:545.8pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:32.25pt'>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.images is defined %}{% for images in entity.images%}{% if
  loop.index == 1 %}</span><img width=410 height=410
  src="%7b%7bapp.request.basepath%7d%7d/uploads/%7b%7bentity.className%7d%7d/%7b%7bimages.name%7d%7d"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:102.5pt'>
  <td width=412 colspan=4 rowspan=3 valign=top style='width:309.15pt;
  border-top:none;border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:102.5pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>GENERALITES</span></u></b><b><span
  style='font-size:12.0pt'> :</span></b>&nbsp; </p>
  <p class=MsoNormal><b>&nbsp;</b></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Poids fusée</span></u><span
  style='font-size:12.0pt'>&nbsp;:&nbsp; </span>{{entity.poids}}
  {{entity.UnitePoidsFusee}}</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Matériau de fabrication
  principale</span></u><span style='font-size:12.0pt'> &nbsp;: </span>{{entity.NaturePrincipaleCorps}}</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Matériau de fabrication
  secondaire</span></u><span style='font-size:12.0pt'>&nbsp;: </span>{{entity.NatureSecondaireCorps}}</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Positionnement</span></u><span
  style='font-size:12.0pt'>&nbsp; : </span>{{entity.Positionnement}}</p>
  <p class=MsoNormal><span style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Indicateur
  armement&nbsp;: </span></b><u><span style='font-size:12.0pt'>:</span></u><span
  style='font-size:12.0pt'> </span><span style='background:white'>{% if
  entity.IndicateurArmement is empty%}Non{%else%}Oui{%endif%}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Position
  </span></u><span style='font-size:12.0pt'>: </span>{{entity.PositionIndicateurArmement}}<span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Type</u>&nbsp;:
  </span>{{entity.TypeIndicateurArmement}}</p>
  <p class=MsoNormal><b>&nbsp;</b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>DAE&nbsp;: </span></b><span
  style='background:white'>{% if entity.DispositifArmementExterieur is
  empty%}Non{%else%}Oui{%endif%}</span><i><span style='font-family:"Arial","sans-serif";
  color:gray;background:white'>&nbsp; </span></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><span
  style='font-size:12.0pt'>Type</span></u><i><span style='font-family:"Arial","sans-serif";
  color:gray;background:white'>&nbsp;: </span></i>{{entity.TypeDAE}}</p>
  <p class=MsoNormal><b>&nbsp;</b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Anti démontage&nbsp;: </span></b><span
  style='background:white'>{% if entity.AntiDemontage is empty%}Non{%else%}Oui{%endif%}</span><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>
  &nbsp;&nbsp;</span></i><b><span style='font-size:12.0pt'>Anti
  manipulation&nbsp;: </span></b><span style='background:white'>{% if
  entity.AntiManipulation is empty%}Non{%else%}Oui{%endif%}</span></p>
  <p class=MsoNormal><b>&nbsp;</b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>Auto
  destruction&nbsp;:</span></b><span lang=EN-US style='font-size:12.0pt'> </span><span
  lang=EN-US style='background:white'>{% if entity.AntiDestruction is
  empty%}Non{%else%}Oui{%endif%}</span><span lang=EN-US style='font-size:12.0pt'>
  </span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span lang=EN-US
  style='font-size:12.0pt'>Type</span></u><span lang=EN-US style='font-size:
  12.0pt'>&nbsp;: </span><span lang=EN-US>{{entity.TypeAutoDestruction}}</span><span
  lang=EN-US style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Délai</u>
  (s)&nbsp;: </span><span lang=EN-US>{{entity.DelaiAutodestruction}}</span></p>
  <p class=MsoNormal><b>&nbsp;</b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>Auto
  neutralisation&nbsp;:</span></b><span lang=EN-US style='font-size:12.0pt'> </span><span
  lang=EN-US style='background:white'>{% if entity.AutoNeutra is
  empty%}Non{%else%}Oui{%endif%}</span><span lang=EN-US style='font-size:12.0pt'>
  </span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Délai</span></u><span
  style='font-size:12.0pt'> (s)&nbsp;: </span>{{entity.DelaiAutoNeutralisation}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Copies existantes</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span>{{entity.copieExistante}}</p>
  </td>
  <td width=316 colspan=3 valign=top style='width:236.65pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:102.5pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>MARQUAGES</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>:&nbsp; </span></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Couleur principale</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;: </span>{{entity.couleurPrincipale}}</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Couleur secondaire</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; : </span>{{entity.couleurSecondaire}}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Corps&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Marquage
  à froid</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;&nbsp;&nbsp;: </span>{{entity.MarquageFroidCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>inscription</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;: </span>{{entity.InscriptionCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Type
  d’inscription</span></u><span style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;: </span>{{entity.TypeInscCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Couleur
  inscription</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;: </span>{{entity.CouleurInscCorps}}</p>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:89.6pt'>
  <td width=316 colspan=3 valign=top style='width:236.65pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:89.6pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>CHARGEMENT</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>: </span></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Nature</span></u><span
  style='font-size:12.0pt'>&nbsp; &nbsp;: </span>{%for munition in
  entity.natureChargeMili%}{{munition.natureChargeMili}}{% endfor%}</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Poids de la charge </span></u><span
  style='font-size:12.0pt'>: </span>{{entity.poidsChargeMili}}{{entity.uniteQMA}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:89.55pt'>
  <td width=316 colspan=3 valign=top style='width:236.65pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 2.25pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:89.55pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>LISTE DES
  SOURCES&nbsp;:</span></u></b></p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt'>{%for munition
  in entity.origineInfos %}&nbsp; {{munition.origineInfos }}&nbsp; {%endfor%}</span></p>
  </td>
 </tr>
 <tr>
  <td width=144 style='width:107.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=10 style='width:7.7pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=249 style='width:186.95pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=9 style='width:6.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=117 style='width:87.7pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=18 style='width:13.6pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=180 style='width:135.35pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=170 style='width:127.45pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 colspan=2 style='width:288.4pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=4 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:53.3pt'>
  <td width=728 colspan=4 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:53.3pt'>
  <p class=MsoBodyText align=left style='margin-top:6.0pt;text-align:left;
  text-indent:3.6pt'><b><u><span lang=EN-US>ASPECT DIMENSIONS</span></u></b><b><span
  lang=EN-US> </span></b><span lang=EN-US>:</span></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesDimensions is defined %}{% for images in
  entity.imagesDimensions%}{% if loop.index == 1 %}{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:59.6pt'>
  <td width=728 colspan=4 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 2.25pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:59.6pt'>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Forme</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;: </span>{{entity.FormeFusee}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><span
  style='font-size:12.0pt'>Diamètre</span></u><span style='font-size:12.0pt'>
  (mm)&nbsp;&nbsp;&nbsp;&nbsp; : </span>{{entity.DiametreFusee}}</p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Longueur</span></u><span
  style='font-size:12.0pt'>&nbsp;(mm)&nbsp;: </span>{{entity.LongueurFusee}}&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;<u><span style='font-size:12.0pt'>Largeur</span></u><span
  style='font-size:12.0pt'> (mm)&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;: </span>{{entity.LargeurFusee}}</p>
  </td>
 </tr>
 <tr style='height:2.1pt'>
  <td width=170 style='width:127.45pt;padding:0cm 0cm 0cm 0cm;height:2.1pt'></td>
  <td width=136 style='width:101.9pt;padding:0cm 0cm 0cm 0cm;height:2.1pt'></td>
  <td width=249 style='width:186.5pt;padding:0cm 0cm 0cm 0cm;height:2.1pt'></td>
  <td width=173 style='width:129.95pt;padding:0cm 0cm 0cm 0cm;height:2.1pt'></td>
 </tr>
 <tr>
  <td width=170 style='width:127.45pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=136 style='width:101.9pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=249 style='width:186.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=173 style='width:129.95pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=170 style='width:127.5pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=384 style='width:288.35pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i><b><span
  style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> : {{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:78.05pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:78.05pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>MUNITIONS
  ASSOCIEES&nbsp;:</span></u></b></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Nom(s)</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span>{{entity.MunitionsAssociees}}</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Type</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;: </span>{{entity.FuseeTypeMunition}}</p>
  <p class=MsoHeader><span style='font-family:"Arial","sans-serif";color:gray;
  background:white'>&nbsp;</span></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in entity.imagesFusees%}{%
  if loop.index == 1 %}{%endif%}{%endfor%}{%endif%}</span></p>
  <p class=MsoHeader><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in entity.imagesFusees%}{%
  if loop.index == 2 %}{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 colspan=4 style='width:288.8pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=6 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:23.65pt'>
  <td width=728 colspan=6 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:none;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:23.65pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>MARQUAGE&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:</span></b></p>
  </td>
 </tr>
 <tr style='height:80.35pt'>
  <td width=277 colspan=3 valign=top style='width:208.05pt;border:none;
  border-left:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:80.35pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span lang=EN-US
  style='font-size:12.0pt'>Couleur Principale&nbsp;: </span></b>{{entity.couleurPrincipale}}</p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span lang=EN-US
  style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span lang=EN-US
  style='font-size:12.0pt'>Couleur Secondaire&nbsp;: </span></b>{{entity.couleurSecondaire}}</p>
  <p class=MsoNormal style='margin-top:6.0pt'>&nbsp;</p>
  </td>
  <td width=450 colspan=3 valign=top style='width:337.75pt;border:none;
  border-right:double windowtext 1.5pt;padding:0cm 0cm 0cm 0cm;height:80.35pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span lang=EN-US
  style='font-size:12.0pt'>Corps : </span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Marquage
  à froid</span></u><span style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;: </span>{{entity.MarquageFroidCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Inscription</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;: </span>{{entity.InscriptionCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Couleur
  Inscription</span></u><span style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;: </span>{{entity.CouleurInscCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Type
  Inscription</span></u><span style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;: </span>{{entity.typeInscCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-size:12.0pt'>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:33.95pt'>
  <td width=728 colspan=6 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:33.95pt'>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesMarquages is defined %}{% for images in
  entity.imagesMarquages%}{% if loop.index == 1 %}{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='height:2.85pt'>
  <td width=169 style='width:127.05pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=73 style='width:54.75pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=242 colspan=2 style='width:181.65pt;padding:0cm 0cm 0cm 0cm;
  height:2.85pt'></td>
  <td width=70 style='width:52.4pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
  <td width=173 style='width:129.95pt;padding:0cm 0cm 0cm 0cm;height:2.85pt'></td>
 </tr>
 <tr>
  <td width=169 style='width:127.05pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=73 style='width:54.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=35 style='width:26.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=207 style='width:155.4pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=70 style='width:52.4pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=173 style='width:129.95pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.8pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{ entity.fiabiliteSource
  }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:71.1pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:71.1pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span style='font-size:
  12.0pt'>&nbsp;</span>&nbsp;</p>
  <p class=MsoBodyText>{{ entity.fonctionnement }}</p>
  <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in entity.imagesFonctionnement%}{%
  if loop.index == 1 %}{%endif%}{%endfor%}{%endif%}</p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=170 style='width:127.3pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.55pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i><b><span
  style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:143.65pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:143.65pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'>{% if entity.imagesFonctionnement
  is defined %}{% for images in entity.imagesFonctionnement%}{% if loop.index
  == 2 %}{%endif%}{%endfor%}{%endif%}</p>
  <p class=MsoBodyText align=left style='margin-top:6.0pt;text-align:left;
  text-indent:3.6pt'><b>Mode d’action&nbsp;: </b><span style='font-size:10.0pt'>{{entity.ModeAction}}</span></p>
  <p class=MsoBodyText align=left style='margin-top:6.0pt;text-align:left;
  text-indent:3.6pt'><b>Fonctionnement</b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Mode</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;: </span>{{entity.ModeDeFonctionnement}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Principe</span></u><span
  style='font-size:12.0pt'>&nbsp; &nbsp;: </span>{{entity.PrincipeDeFonctionnement}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Type</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;: </span>{{entity.TypeFonctionnement}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Délai</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;: </span>{{entity.DelaisFonctionnement}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:99.2pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:99.2pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u><span lang=EN-US>SECURITE
  :&nbsp;&nbsp; </span></u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'><span lang=EN-US>{{entity.securite}}</span></p>
  <p class=MsoBodyText style='margin-top:6.0pt'>&nbsp;</p>
  <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt'>&nbsp;&nbsp; <u>Externe</u>&nbsp;&nbsp;:
  </span><span lang=EN-US>{% for munition in entity.SecuriteExterne %}&nbsp;
  {{munition.SecuriteExterne}}&nbsp; {%endfor%}</span></p>
  <p class=MsoNormal><span style='font-size:12.0pt'>&nbsp;&nbsp; </span><u><span
  lang=EN-US style='font-size:12.0pt'>Interne</span></u><span lang=EN-US
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;: </span><span lang=EN-US>{% for
  munition in entity.SecuriteInterne %}&nbsp;
  {{munition.SecuriteInterne}}&nbsp; {%endfor%}</span></p>
  <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:12.0pt'>&nbsp;&nbsp; </span><u><span
  lang=EN-US style='font-size:12.0pt'>Travaux d’atténuation</span></u><span
  lang=EN-US style='font-size:12.0pt'>&nbsp; : </span><span lang=EN-US>{{entity.TravauxAttenuation}}</span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.8pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{ entity.fiabiliteSource
  }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:66.1pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:66.1pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>TRAITEMENT&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span
  lang=EN-US style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><span lang=EN-US style='font-size:10.0pt'>{{ entity.NEDE
  }}&nbsp;</span></p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesTraitement is defined %}{% for images in entity.imagesTraitement%}{%
  if loop.index == 1 %}{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=1329
 style='width:996.4pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=304 style='width:228.1pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="%7b%7basset('images/piam.png')%7d%7d"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=608 style='width:455.8pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FUSEE</span></b></p>
  </td>
  <td width=417 style='width:312.5pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=1329 colspan=3 style='width:996.4pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : &nbsp;{{ entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:372.25pt'>
  <td width=1329 colspan=3 valign=top style='width:996.4pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:372.25pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>CONDITIONNEMENT</u> </b>:
  &nbsp;</p>
  <p class=MsoNormal style='text-align:justify'>&nbsp;</p>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
   style='border-collapse:collapse'>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Type d’emballage</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{% for munition in entity.conditionnementTypeEmballage
    %}&nbsp; {{munition.Emballage}}&nbsp; {%endfor%}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Quantité </span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementQteEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Marquage </span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementMarquageEmballage}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Cloisonnement</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span lang=EN-US>{%for munition in
    entity.conditionnementTypeCloisonnement%}&nbsp; {{munition.cloison}}&nbsp;
    {%endfor%}</span></p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=98 style='width:73.75pt;border:solid windowtext 1.5pt;border-top:
    none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Hauteur (cm)</span></p>
    </td>
    <td width=86 style='width:64.35pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageHaut}}</p>
    </td>
    <td width=94 colspan=2 style='width:70.35pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Largeur (cm)</span></p>
    </td>
    <td width=85 style='width:63.75pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLarg}}</p>
    </td>
    <td width=95 style='width:70.9pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Longueur (cm)</span></p>
    </td>
    <td width=76 style='width:2.0cm;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLong}}</p>
    </td>
    <td width=94 colspan=2 style='width:70.85pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Volume (m³)</span></p>
    </td>
    <td width=84 style='width:63.15pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementVolumeEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids de l’emballage (kg)</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementPoidsEmballage}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids total (kg)</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementPoidsTotal}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage mini (°C)</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempStockMin}}</p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage max (°C)</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempStockMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation mini
    (°C)</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMin}}</p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation max (°C)</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Classe
    de stockage/ </span></p>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Groupe
    de comptabilité</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for
    munition in entity.conditionnementClasseDangerStockage%}&nbsp;
    {{munition.classeDangerStockage}}&nbsp; {%endfor%}</span></p>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for
    munition in entity.conditionnementGroupeComptabiliteStockage %}&nbsp;
    {{munition.groupeComptabiliteStockage}}&nbsp; {%endfor%}</span></p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
   </tr>
   <tr>
    <td width=64 style='width:48.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=273 style='width:204.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=39 style='width:29.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=31 style='width:23.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=270 style='width:202.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=74 style='width:55.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=273 style='width:204.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:30.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=24 style='width:18.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=265 style='width:198.75pt;padding:0cm 0cm 0cm 0cm'></td>
   </tr>
  </table>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesConditionnement is defined %}{% for images in
  entity.imagesConditionnement%}{% if loop.index == 1 %}{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='height:60.9pt'>
  <td width=1329 colspan=3 valign=top style='width:996.4pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:60.9pt'>
  <p class=MsoBodyText style='margin-top:6.0pt;text-indent:3.6pt'><b><u>REMARQUES&nbsp;:</u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'>{{ entity.remarques }} </p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
