<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<title>FICHE ROQUETTES : {{entity.nomine}}</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Titre 1 Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
h2
	{mso-style-link:"Titre 2 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h3
	{mso-style-link:"Titre 3 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h4
	{mso-style-link:"Titre 4 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:99.8pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-43.1pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
h5
	{mso-style-link:"Titre 5 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:121.35pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-50.45pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h6
	{mso-style-link:"Titre 6 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:148.85pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-63.8pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"Titre 7 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:175.8pt;
	text-align:justify;
	text-indent:-76.55pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"En-tête Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pied de page Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-link:"Corps de texte Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texte de bulles Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
span.Titre1Car
	{mso-style-name:"Titre 1 Car";
	mso-style-link:"Titre 1";
	font-family:"Cambria","serif";
	color:#365F91;
	font-weight:bold;}
span.Titre2Car
	{mso-style-name:"Titre 2 Car";
	mso-style-link:"Titre 2";
	font-weight:bold;}
span.Titre3Car
	{mso-style-name:"Titre 3 Car";
	mso-style-link:"Titre 3";
	font-weight:bold;}
span.Titre4Car
	{mso-style-name:"Titre 4 Car";
	mso-style-link:"Titre 4";
	font-weight:bold;}
span.Titre5Car
	{mso-style-name:"Titre 5 Car";
	mso-style-link:"Titre 5";
	font-weight:bold;}
span.Titre6Car
	{mso-style-name:"Titre 6 Car";
	mso-style-link:"Titre 6";
	font-weight:bold;}
span.Titre7Car
	{mso-style-name:"Titre 7 Car";
	mso-style-link:"Titre 7";}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-link:En-tête;
	font-family:"Times New Roman","serif";}
span.PieddepageCar
	{mso-style-name:"Pied de page Car";
	mso-style-link:"Pied de page";
	font-family:"Times New Roman","serif";}
span.CorpsdetexteCar
	{mso-style-name:"Corps de texte Car";
	mso-style-link:"Corps de texte";}
span.TextedebullesCar
	{mso-style-name:"Texte de bulles Car";
	mso-style-link:"Texte de bulles";
	font-family:"Tahoma","sans-serif";}
p.msochpdefault, li.msochpdefault, div.msochpdefault
	{mso-style-name:msochpdefault;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
.MsoChpDefault
	{font-size:10.0pt;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:21.25pt 70.9pt 44.5pt 70.9pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

<link rel=icon type="image/x-icon" href="{{asset('favicon.ico')}}">
</head>

<body lang=FR link=blue vlink=purple>

<div class=WordSection1>

<p class=MsoNormal><span style='font-size:12.0pt'>{% block favicon %} {%
endblock %} </span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 colspan=2 style='width:126.75pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 colspan=9 style='width:289.1pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:25.05pt'>
  <td width=363 colspan=6 rowspan=2 style='width:272.25pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:25.05pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : {{ entity.nomine }}</span></b></p>
  </td>
  <td width=365 colspan=6 style='width:273.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.05pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de création de la fiche</span></b><span style='font-size:12.0pt'>&nbsp;: </span>{{entity.dateCreation|date
  ('d M Y')}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:19.1pt'>
  <td width=365 colspan=6 style='width:273.55pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:19.1pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de mise à jour</span></b><span style='font-size:12.0pt'>&nbsp;: </span>{{entity.dateMAJ|date
  ('d M Y')}}</p>
  </td>
 </tr>
 <tr>
  <td width=75 style='width:56.45pt;border-top:none;border-left:double windowtext 1.5pt;
  border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>TYPE </span></b><span
  style='font-size:12.0pt'>: </span></p>
  </td>
  <td width=264 colspan=4 style='width:197.8pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span style='font-size:12.0pt'>&nbsp;{{roquettes.TypeRoquette}}</span></p>
  </td>
  <td width=150 colspan=5 style='width:112.35pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>DENOM. OTAN</span></b></p>
  </td>
  <td width=239 colspan=2 style='width:179.2pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span style='font-size:11.0pt'>{{
  entity.denominationOTAN }}</span></p>
  </td>
 </tr>
 <tr>
  <td width=339 colspan=5 style='width:254.25pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;border-right:
  solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>PAYS D’ORIGINE</span></b></p>
  </td>
  <td width=389 colspan=7 style='width:291.55pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{% for
  munition in entity.pays %} &nbsp;{{munition.pays}} &nbsp;{%endfor%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:25.75pt'>
  <td width=728 colspan=12 style='width:545.8pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:25.75pt'>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.images is defined %}{% for images in entity.images%}{% if
  loop.index == 1 %}</span><img width=35%
  src="{{app.request.basepath}}/uploads/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:201.65pt'>
  <td width=728 colspan=12 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:201.65pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>GENERALITES</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>:</span></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Système
  d'arme&nbsp;:</span></b></p>
  <p class=MsoNormal style='margin-bottom:6.0pt'><u><span style='font-size:
  12.0pt'>Longueur total du Sytème d'arme (mm)</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span>{{roquettes.SystemeArme}}&nbsp;&nbsp;&nbsp;
  <u><span style='font-size:12.0pt'>Poids total (kg)</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span>{{roquettes.PoidsRoq}}</p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Munition&nbsp;:</span></b></p>
  <p class=MsoNormal style='margin-bottom:6.0pt'><u><span style='font-size:
  12.0pt'>Longueur total avec fusée (mm)</span></u><span style='font-size:12.0pt'>&nbsp;:
  </span>{{roquettes.LgTotavecFusee}}&nbsp; <u><span style='font-size:12.0pt'>Longueur
  total sans fusée (mm)</span></u><span style='font-size:12.0pt'>&nbsp;: </span>{{roquettes.LgTotsansFusee}}</p>
  <p class=MsoNormal style='margin-bottom:6.0pt'><u><span style='font-size:
  12.0pt'>Poids de la roquette (kg)</span></u><span style='font-size:12.0pt'>&nbsp;:
  </span>{{roquettes.poidsProjectile}}</p>
  <p class=MsoNormal style='margin-bottom:6.0pt'><u><span style='font-size:
  12.0pt'>Ø de la tête (mm)</span></u><span style='font-size:12.0pt'>&nbsp;: </span>{{roquettes.DiametreTeteMili}}<span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;<u>Calibre (mm)</u>&nbsp;: </span>{{roquettes.CalibreCalcul}}&nbsp;&nbsp;
  <u><span style='font-size:12.0pt'>Portée pratique (m)</span></u><span
  style='font-size:12.0pt'>&nbsp;:&nbsp;</span>{{roquettes.PorteePratique}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <u><span style='font-size:12.0pt'>Portée maximale (m)</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span>{{roquettes.PorteeMax}}</p>
  <p class=MsoNormal style='margin-bottom:6.0pt'><u><span style='font-size:
  12.0pt'>Indicateur d’armement&nbsp;:</span></u><span style='font-size:12.0pt'>
  </span><span style='background:white'>{% if roquettes.IndicateurArmement is
  empty%}Non{%else%}Oui{%endif%}</span>&nbsp;&nbsp; <u><span style='font-size:
  12.0pt'>Autodestruction</span></u><span style='font-size:12.0pt'>&nbsp;:</span><i><span
  style='color:gray;background:white'> </span></i><span style='background:white'>{%
  if roquettes.AutoDestruction is empty%}Non{%else%}Oui{%endif%}</span></p>
  <p class=MsoNormal style='margin-bottom:6.0pt'><u><span style='font-size:
  12.0pt'>Nature de l’enveloppe</span></u><span style='font-size:12.0pt'>&nbsp;:
  </span>{{roquettes.NatureEnveloppe}}&nbsp;&nbsp;&nbsp; <u><span
  style='font-size:12.0pt'>Technologie de guidage</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span>{{roquettes.Guidage}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:296.6pt'>
  <td width=364 colspan=7 valign=top style='width:272.9pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:296.6pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>CHARGEMENT</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>: </span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Charge militaire&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Principal&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssocies}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChargeMili}}
  {{entity.uniteQMA}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.nBExploAlter ==1
  %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssociesAlter1}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsExploAlter1}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% elseif entity.nBExploAlter
  ==2 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Explosif Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ExplosifAssociesAlter2}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsExploAlter1}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% endif %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.ChimiqueAssocies
  is not null %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Principal&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssocies }}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChim}}{%
  endif %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% if entity.nBChimAlter ==1 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssociesAlter1}}</p>
  <p class=MsoNormal><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChimAlter1}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% elseif entity.nBChimAlter
  ==2 %}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><b><i><u><span
  style='font-family:"Arial","sans-serif"'>Chimique Alternatif&nbsp;:</span></u></i></b><span
  style='font-size:12.0pt'> </span>{{entity.ChimiqueAssociesAlter2}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Poids (g)&nbsp;:</u></i></span><span style='font-size:12.0pt'> </span>{{entity.poidsChimAlter2}}
  </p>
  <p class=MsoNormal style='text-indent:10.7pt'>{% endif %}</p>
  </td>
  <td width=364 colspan=5 valign=top style='width:272.9pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 0cm 0cm 0cm;height:296.6pt'>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Nature Charge
  Inerte&nbsp;:</span></b>{{entity.natureChargeInerte}}</p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Effet
  terminal&nbsp;:</span></b> {%for munition in
  roquettes.effetChargement%}&nbsp;{{munition.effetChargement}}&nbsp;
  {%endfor%}</p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Charge
  tandem &nbsp;: </span></b><span style='background:white'>{% if
  roquettes.ChargeTandem is empty%}Non{%else%}Oui{%endif%}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Nature</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;: </span>{% for
  munition in roquettes.NatureChargeTandem%} {{munition.NatureCharge}}
  {%endfor%} </p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Poids
  (g)</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;:<b> </b></span>{{roquettes.PoidsChargeTandem}}</p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Effet terminal&nbsp;</span></u>:
  {% for munition in roquettes.EffetChargement%} {{munition.EffetChargement}}
  {%endfor%}</p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Charge
  de propulsion&nbsp;: </span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Nature</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;: </span>{{roquettes.NatureChargePropu}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Poids
  (g)</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;:<b> </b></span>{{roquettes.PoidsChargePropu}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Type&nbsp;</span></u>:
  {{roquettes.TypeChargePropu}}</p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Charge
  d’éjection&nbsp;:</span></b><i><span style='color:gray;background:white'> </span></i><span
  style='background:white'>{% if roquettes.ChargeEjection is
  empty%}Non{%else%}Oui{%endif%}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Poids
  (g)</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;:<b> </b></span>{{roquettes.PoidsChargeEjection}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Type&nbsp;</span></u>:
  {{roquettes.TypeChargeEjection}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span lang=EN-US
  style='font-size:12.0pt'>Fixation</span></u><span lang=EN-US
  style='font-size:12.0pt'>&nbsp;: </span><span lang=EN-US>{{roquettes.FixationChargeEjection}}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:30.95pt'>
  <td width=728 colspan=12 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:30.95pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>LISTE DES RESSOURCES</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>:</span></p>
  <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt'>{%for munition
  in entity.origineInfos %}&nbsp; {{munition.origineInfos }}&nbsp; {%endfor%}</span></p>
  </td>
 </tr>
 <tr style='height:3.75pt'>
  <td width=75 style='width:56.45pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=94 style='width:70.3pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=61 style='width:45.75pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=11 style='width:8.25pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=98 style='width:73.5pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=24 style='width:18.0pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=75 colspan=2 style='width:56.25pt;padding:0cm 0cm 0cm 0cm;
  height:3.75pt'></td>
  <td width=45 style='width:33.45pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=6 style='width:4.65pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=66 style='width:49.25pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
  <td width=173 style='width:129.95pt;padding:0cm 0cm 0cm 0cm;height:3.75pt'></td>
 </tr>
 <tr>
  <td width=75 style='width:56.45pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=94 style='width:70.3pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=61 style='width:45.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=11 style='width:8.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=98 style='width:73.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=24 style='width:18.0pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=75 colspan=2 style='width:56.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=45 style='width:33.45pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=6 style='width:4.65pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=66 style='width:49.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=173 style='width:129.95pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
 <tr>
  <td width=75 style='width:56.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=94 style='width:70.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=61 style='width:45.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=11 style='width:8.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=98 style='width:73.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=24 style='width:18.0pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=1 style='width:.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=74 style='width:55.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=45 style='width:33.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=6 style='width:4.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=66 style='width:49.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=173 style='width:129.75pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=170 style='width:127.5pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 colspan=2 style='width:288.55pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=173 style='width:129.75pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=4 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:54.1pt'>
  <td width=728 colspan=4 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:54.1pt'>
  <p class=MsoBodyText align=left style='margin-top:6.0pt;text-align:left;
  text-indent:3.6pt'><b><u><span lang=EN-US>ASPECT DIMENSIONS</span></u></b><b><span
  lang=EN-US> </span></b><span lang=EN-US>:&nbsp; </span></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesDimensions is defined %}{% for images in entity.imagesDimensions%}{% if
  loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/Dimensions/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:92.1pt'>
  <td width=306 colspan=2 valign=top style='width:229.25pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 2.25pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:92.1pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Type
  de corps tête militaire&nbsp;: </span></b><span style='font-family:"Arial","sans-serif"'>{{roquettes.TypeCorps}}</span></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Nb
  tuyère AVT&nbsp;: </span></b><span style='font-family:"Arial","sans-serif"'>{{roquettes.NbTuyereAvant}}</span></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Nb
  tuyère AR&nbsp;: </span></b><span style='font-family:"Arial","sans-serif"'>{{roquettes.NbTuyereArriere}}</span></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Forme
  ogive&nbsp;:&nbsp;&nbsp;</span></b><span style='font-family:"Arial","sans-serif"'>{{roquettes.FormeOgive}}</span><b><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></b></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Puits
  de fusée&nbsp;: </span></b><span style='font-family:"Arial","sans-serif";
  background:white'>{% if roquettes.PuitsDeFusee is
  empty%}Non{%else%}Oui{%endif%}</span></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Forme
  corps&nbsp;: </span></b><span style='font-family:"Arial","sans-serif"'>{{roquettes.FormeCorps}}</span></p>
  </td>
  <td width=422 colspan=2 valign=top style='width:316.55pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 2.25pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:92.1pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Stabilisation&nbsp;:
  </span></b></p>
  <p class=MsoNormal><span style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Mode</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.ModeStabilisation}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Empennage</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.TypeEmpennage}}<i><span
  style='color:gray;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></i></span><u><span style='font-size:12.0pt'>Longueur (mm)</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.LongEmp}}</span><span
  style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Ailettes</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.TypeAilette}}<i><span
  style='color:gray;background:white'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></i></span><u><span
  style='font-size:12.0pt'>Nb</span></u><i><span style='font-family:"Arial","sans-serif";
  color:gray;background:white'>&nbsp;: </span></i><span style='font-family:
  "Arial","sans-serif"'>{{roquettes.NbAilettes}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'><span style='font-size:12.0pt'>Forme&nbsp;:&nbsp;</span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.FormeAilette}}</span><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></p>
  <p class=MsoNormal style='text-indent:24.85pt'><span style='font-size:12.0pt'>Longueur
  (mm)&nbsp;: &nbsp;</span><span style='font-family:"Arial","sans-serif"'>{{roquettes.LongAilette}}</span><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Largeur
  (mm)&nbsp;: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.LargAilette}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Eléments aérodynamiques
  AVT&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Type&nbsp;</span></u><span
  style='font-size:12.0pt'>: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.TypeElemAeroAV}}</span></p>
  <p class=MsoNormal style='margin-bottom:6.0pt;text-indent:10.75pt'><u><span
  style='font-size:12.0pt'>Forme&nbsp;</span></u><span style='font-size:12.0pt'>:
  </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.FormeElemAeroAV}}</span></p>
  </td>
 </tr>
 <tr>
  <td width=170 style='width:127.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=136 style='width:101.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=249 style='width:186.8pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=173 style='width:129.75pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:289.0pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=173 style='width:129.75pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:92.35pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:92.35pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>AMORÇAGE&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:</span></b></p>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><span
  lang=EN-US>&nbsp;</span></b></p>
  <p class=MsoNormal><b>FUSEE(S) ASSOCIEE(S)&nbsp;:</b> </p>
  <p class=MsoNormal>{%for munition in entity.AmorcageAssocies%} </p>
  <p class=MsoNormal>Nom&nbsp;: {{munition.NomAmorcage}}</p>
  <p class=MsoNormal>Type&nbsp;: {{munition.typeFusee}}</p>
  <p class=MsoNormal>Position&nbsp;: {{munition.positionFusee}}</p>
  <p class=MsoNormal>Déclenchement&nbsp;: {{munition.DeclenchementFusee}}{%
  endfor %}</p>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><u><span
  style='font-size:12.0pt'>Piezo</span></u><span style='font-size:12.0pt'>&nbsp;:
  </span>{{roquettes.Piezo}}</p>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'>&nbsp;</p>
<p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in
  entity.imagesFusees%}{% if loop.index == 1 %}</span><img width=55%
  src="{{app.request.basepath}}/uploads/FuseesAllumeurs/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 colspan=3 style='width:289.0pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=173 style='width:129.75pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=5 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:23.65pt'>
  <td width=728 colspan=5 valign=top style='width:545.8pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:none;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:23.65pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>MARQUAGE&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:</span></b></p>
  </td>
 </tr>
 <tr style='height:80.35pt'>
  <td width=243 colspan=2 valign=top style='width:181.9pt;border:none;
  border-left:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:80.35pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span lang=EN-US
  style='font-size:12.0pt'>Ogive&nbsp;: </span></b><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>{% for munition in
  roquettes.SymboleOgive%} {{munition.SymboleOgive}}{%endfor%}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Couleur</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp; &nbsp;: </span><span style='font-family:
  "Arial","sans-serif"'>{{roquettes.CouleurOgive}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Inscription&nbsp;:
  </span></u></p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>{{roquettes.InscriptionOgive}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'><span style='font-size:12.0pt'>Type&nbsp;&nbsp;&nbsp;
  &nbsp;: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.TypeInscOgive}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'><span style='font-size:12.0pt'>Couleur&nbsp;:
  </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.CouleurInscOgive}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Marquage
  à froid</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.MarquageFroidOgive}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Bandes</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.NbBandesOgive}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeOgive1 is not null%}Couleur bande 1&nbsp;:
  {{roquettes.CouleurBandeOgive1}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if roquettes.CouleurBandeOgive2
  is not null%}Couleur bande 2&nbsp;:
  {{roquettes.CouleurBandeOgive2}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeOgive3 is not null%}Couleur bande 3&nbsp;:
  {{roquettes.CouleurBandeOgive3}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeOgive4 is not null%}Couleur bande 4&nbsp;:
  {{roquettes.CouleurBandeOgive4}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeOgive5 is not null%}Couleur bande 5&nbsp;:
  {{roquettes.CouleurBandeOgive5}}{%else%}{%endif%}</p>
  </td>
  <td width=243 valign=top style='width:181.95pt;padding:0cm 0cm 0cm 0cm;
  height:80.35pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span lang=EN-US
  style='font-size:12.0pt'>Corps&nbsp;: </span></b><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>{% for munition in
  roquettes.SymboleCorps%} {{munition.SymboleOgive}} {%endfor%}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Couleur</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.CouleurCorps}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Inscription&nbsp;:
  </span></u></p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>{{roquettes.InscriptionCorps}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'><span style='font-size:12.0pt'>Type&nbsp;&nbsp;&nbsp;
  &nbsp;: </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.TypeInscCorps}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'><span style='font-size:12.0pt'>Couleur&nbsp;:
  </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.CouleurInscCorps}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Marquage
  à froid</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.MarquageFroidCorps}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Bandes</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.NbBandesCorps}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeCorps1 is not null%}Couleur bande 1&nbsp;:
  {{roquettes.CouleurBandeCorps1}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeCorps2 is not null%}Couleur bande 2&nbsp;:
  {{roquettes.CouleurBandeCorps2}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeCorps3 is not null%}Couleur bande 3&nbsp;:
  {{roquettes.CouleurBandeCorps3}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='text-indent:24.85pt'>{%if
  roquettes.CouleurBandeCorps4 is not null%}Couleur bande 4&nbsp;:
  {{roquettes.CouleurBandeCorps4}}{%else%}{%endif%}</p>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><span
  style='font-size:12.0pt'>&nbsp;</span></b></p>
  </td>
  <td width=243 colspan=2 valign=top style='width:181.95pt;border:none;
  border-right:double windowtext 1.5pt;padding:0cm 0cm 0cm 0cm;height:80.35pt'>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Propulseur&nbsp;:</span></b><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'> </span></i></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Couleur</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.CouleurPropu}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Inscription&nbsp;:
  </span></u></p>
  <p class=MsoNormal style='text-indent:10.7pt'><span style='font-family:"Arial","sans-serif"'>{{roquettes.InscripPropu}}</span></p>
  <p class=MsoNormal style='text-indent:24.85pt'><span style='font-size:12.0pt'>Couleur&nbsp;:
  </span><span style='font-family:"Arial","sans-serif"'>{{roquettes.CouleurInscPropu}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Marquage
  à froid</span></u><span style='font-size:12.0pt'>&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.MarquageFroidPropulseur}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Couleur
  de Bande</span></u><span style='font-size:12.0pt'>&nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.CouleurBandePropu}}</span></p>
  <p class=MsoNormal style='margin-top:6.0pt'><b><span style='font-size:12.0pt'>Empennage&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Couleur</span></u><span
  style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;: </span><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.CouleurEmpennage}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><u><span style='font-size:12.0pt'>Marquage
  à froid</span></u><span style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp; &nbsp;:</span></p>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><span
  style='font-family:"Arial","sans-serif"'>{{roquettes.MarqFroidEmpennage}}</span></p>
  </td>
 </tr>
 <tr style='height:30.15pt'>
  <td width=728 colspan=5 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:30.15pt'>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesMarquages is defined %}{% for images in
  entity.imagesMarquages%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/Marquages/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr>
  <td width=169 style='width:126.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=73 style='width:54.75pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=243 style='width:182.25pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=70 style='width:52.5pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=173 style='width:129.75pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:289.0pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=173 style='width:129.75pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:64.0pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:64.0pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span style='font-size:
  12.0pt'>&nbsp;</span>&nbsp;</p>
  <p class=MsoBodyText>{{ entity.fonctionnement }}</p>
<p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in entity.imagesFonctionnement%}{%
  if loop.index == 1 %}<img width=60%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:289.0pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=173 style='width:129.75pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:49.8pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:49.8pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in
  entity.imagesFonctionnement%}{% if loop.index == 2 %}<img width=60%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  </td>
 </tr>
 <tr style='height:44.35pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:44.35pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>SECURITE :&nbsp;&nbsp; </u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'><span style='font-size:10.0pt'>{{
  entity.securite }}<u> </u></span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:127.05pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:289.0pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=173 style='width:129.75pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:66.1pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:66.1pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>TRAITEMENT&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span
  lang=EN-US style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><span lang=EN-US style='font-size:10.0pt'>{{ entity.NEDE
  }}&nbsp;</span></p>
  <p class=MsoBodyText>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesTraitement is defined %}{% for images in
  entity.imagesTraitement%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/Traitement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=189 style='width:141.8pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=378 style='width:10.0cm;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ROQUETTE</span></b></p>
  </td>
  <td width=161 style='width:120.5pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : &nbsp;{{ entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:365.15pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:365.15pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>CONDITIONNEMENT</u> </b>:
  &nbsp;</p>
  <p class=MsoNormal style='text-align:justify'>&nbsp;</p>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
   style='border-collapse:collapse'>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Type d’emballage</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{% for munition in entity.conditionnementTypeEmballage
    %}&nbsp; {{munition.Emballage}}&nbsp; {%endfor%}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Quantité </span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementQteEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Marquage </span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementMarquageEmballage}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Cloisonnement</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span lang=EN-US>{%for munition in
    entity.conditionnementTypeCloisonnement%}&nbsp; {{munition.cloison}}&nbsp;
    {%endfor%}</span></p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=98 style='width:73.75pt;border:solid windowtext 1.5pt;border-top:
    none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Hauteur (cm)</span></p>
    </td>
    <td width=86 style='width:64.35pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageHaut}}</p>
    </td>
    <td width=94 colspan=2 style='width:70.35pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Largeur (cm)</span></p>
    </td>
    <td width=85 style='width:63.75pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLarg}}</p>
    </td>
    <td width=95 style='width:70.9pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Longueur (cm)</span></p>
    </td>
    <td width=76 style='width:2.0cm;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLong}}</p>
    </td>
    <td width=94 colspan=2 style='width:70.85pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Volume (m³)</span></p>
    </td>
    <td width=84 style='width:63.15pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementVolumeEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=184 colspan=2 style='width:138.1pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids de l’emballage (kg)</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.1pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementPoidsEmballage}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids total (kg)</span></p>
    </td>
    <td width=179 colspan=3 style='width:134.0pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementPoidsTotal}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage mini (°C)</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempStockMin}}</p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage max (°C)</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempStockMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation mini
    (°C)</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMin}}</p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation max (°C)</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=231 colspan=3 style='width:173.0pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Classe
    de stockage/ </span></p>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Groupe
    de comptabilité</span></p>
    </td>
    <td width=132 colspan=2 style='width:99.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for
    munition in entity.conditionnementClasseDangerStockage%}&nbsp; {{munition.classeDangerStockage}}&nbsp;
    {%endfor%}</span></p>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for
    munition in entity.conditionnementGroupeComptabiliteStockage %}&nbsp;
    {{munition.groupeComptabiliteStockage}}&nbsp; {%endfor%}</span></p>
    </td>
    <td width=217 colspan=3 style='width:163.05pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
    <td width=131 colspan=2 style='width:98.55pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
   </tr>
   <tr>
    <td width=64 style='width:48.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=273 style='width:204.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=39 style='width:29.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=31 style='width:23.25pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=270 style='width:202.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=74 style='width:55.5pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=273 style='width:204.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:30.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=24 style='width:18.0pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=265 style='width:198.75pt;padding:0cm 0cm 0cm 0cm'></td>
   </tr>
  </table>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesConditionnement is defined %}{% for images in
  entity.imagesConditionnement%}{% if loop.index == 1 %}</span><img width=40%
  src="{{app.request.basepath}}/uploads/Conditionnement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='height:46.6pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:46.6pt'>
  <p class=MsoBodyText style='margin-top:6.0pt;text-indent:3.6pt'><b><u>REMARQUES&nbsp;:</u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'>{{ entity.remarques }} </p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
