{% extends "::base2.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <!-- style de la page twig-->
    <style>
        th {padding-right: 10px; text-align: right;}
        #btnSupprimer {height: 33px; margin-bottom: -15px;}
        #btnModifier {height: 33px; margin-left: 100px;}
        html body div#ui-datepicker-div.ui-datepicker {display: none}
        .roles input[type="checkbox"] { float: left; margin: 4px 12px 0 0;}
        select#admin_userbundle_usertype_groups { height: 107px; margin-top: 20px;}
    </style>
    <!-- fin du style de la page twig-->
{% endblock %}

{% block body %}
    
    <br>
<div class="well col-md-4 col-md-offset-3">
    <h4><center><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Modification du mot de passe de : <I>{{ user.username }}</I></center></h4>
    <br>
<form action="{{ path('admin_password_update', { 'id': user.id }) }}" method="post" {{ form_enctype(editPassword_form) }}>
    <!--Customisation du formulaire pour l'affichage dans un tableau-->
   
    {{ form_widget(editPassword_form) }}
    <br>
    <p>
        <button id="btnModifier" type="submit" class="btn btn-primary center-block"><i class="glyphicon glyphicon-lock"></i> Modifier MDP</button>
    </p>
    <br>
        {% if is_granted("ROLE_ADMIN") %}
            <a class="btn" href="{{ path('admin_user') }}">
                <i class="icon-backward"></i> Retour à la liste
            </a>
        {%endif%}


</form>
</div>       

{% endblock %}
