{% extends '::base2.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css') }}" type="text/css" />
{% endblock %}
    
{% block body %}

{% set str_statut = {0: 'Modification', 1:'Vérification',
2:'Validation', 3:'Validée'} %}

{% block ttitle %}

{% endblock %}
<br>
<div class="table-responsive">
<table id="datatable" class="table table-striped table-bordered table-hover display nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
			<th class="text-center">Associé à</th>
            <th class="text-center">Famille</th>
			<th class="text-center" style="width: 10%">Photos</th>
			<th class="text-center">Type</th>
            <th class="text-center">Noms</th>
            <th class="text-center">Pays d'Origine</th>
            <th class="text-center">Calibre / Ø</th>
            <th class="text-center">Date MAJ</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
			<td>
			{% if type== 'amorcage'%}
			{% elseif type== 'explosif'%}
			{% elseif type== 'chimique'%}
			{% elseif type== 'mines' %}{{entity.nomAllumeurMine}}<br>{{entity.nomAllumeurMine1}}<br>{{entity.nomAllumeurMine2}}
			{% else %}{% for amorcage in entity.AmorcageAssocies %}{{amorcage.NomAmorcage}}<br>{% endfor %}{% endif %}
			</td>
            <td>
			{% if type== 'amorcage' %}Amorçage<br><br>{% if entity.id != entity.amorcageId %}<FONT color="red"><b><span class="glyphicon glyphicon-alert"></span>&nbsp;Modification <br> &nbsp;&nbsp;&nbsp;&nbsp;en cours</b></FONT>{%endif%}
			{% elseif type== 'explosif' %}Explosif<br><br>{% if entity.id != entity.explosifId %}<FONT color="red"><b><span class="glyphicon glyphicon-alert"></span>&nbsp;Modification <br> &nbsp;&nbsp;&nbsp;&nbsp;en cours</b></FONT>{%endif%}
			{% elseif type== 'chimique' %}Chimique<br><br>{% if entity.id != entity.chimiqueId %}<FONT color="red"><b><span class="glyphicon glyphicon-alert"></span>&nbsp;Modification <br> &nbsp;&nbsp;&nbsp;&nbsp;en cours</b></FONT>{%endif%}
			{% else %}{{ entity.className }}<br><br>{% if entity.id != entity.munitionId %}<FONT color="red"><b><span class="glyphicon glyphicon-alert"></span>&nbsp;Modification <br> &nbsp;&nbsp;&nbsp;&nbsp;en cours</b></FONT>{%endif%}{%endif%}
			</td>
			<td>
			{% if type== 'explosif' %}{% if entity.ExplosifImage is defined %}{% for images in entity.ExplosifImage%}{% if loop.index == 1 %}<img width=80% src="{{app.request.basepath}}/uploads/{{ entity.className }}/{{images.name}}">{%endif%}{%else%}<img width=80% src="{{app.request.basepath}}/uploads/{{ entity.className }}/no_photo.jpg">{%endfor%}{% endif %}
			{% elseif type== 'chimique' %}<img width=80% src="{{app.request.basepath}}/uploads/{{ entity.className }}/no_photo.jpg">
			{% else %}{% if entity.images is defined %}{% for images in entity.images%}{% if loop.index == 1 %}<img width=80% src="{{app.request.basepath}}/uploads/{{ entity.className }}/{{images.name}}">{%endif%}{%else%}<img width=80% src="{{app.request.basepath}}/uploads/{{ entity.className }}/no_photo.jpg">{%endfor%}{% endif %}
			{% endif %}
			</td>
			<td>
			{% if type== 'artillerie' %}{% for munition in entity.typeObus %}{{munition.typeObus}}{% endfor %}{% endif %}
			{% if type== 'mortier' %}{{entity.typeMortier}}{% endif %}
			{% if type== 'mines' %}{{entity.typeMine}}{% endif %}
			{% if type== 'grenades' %}{{entity.TypeGrenade}}{% endif %}
			{% if type== 'roquettes' %}{{entity.TypeRoquette}}{% endif %}
			{% if type== 'bombes' %}{{entity.FamilleBombe}}{% endif %}
			{% if type== 'missiles' %}{% for munition in entity.TypeMissile %}{{munition.name}}<br>{% endfor %}{% endif %}
			{% if type== 'sousMunitions' %}{{entity.TypeSousMunition}}{% endif %}
			{% if type== 'minesMarines' %}{% for munition in entity.typeMineMarine %}{{munition.typeMineMarine}}<br>{% endfor %}{% endif %}
			{% if type== 'amorcage' %}{{entity.FuseeTypeAmorcage}}{% endif %}
			{% if type== 'explosif' %}{{entity.TypeExplosif}}{% endif %}
			{% if type== 'chimique' %}{{entity.TypeChimique}}{% endif %}
			</td>
            <td>{% if type=='amorcage' %}<a href="{{ path('amorcage_lire', { 'id': entity.id, 'type':'amorcage' }) }}">{{ entity.nomine }}</a>{% elseif type=='explosif' %}<a href="{{ path('explosif_lire', { 'id': entity.id, 'type':'explosif' }) }}">{{ entity.nomine }}</a>{% elseif type=='chimique' %}<a href="{{ path('chimique_lire', { 'id': entity.id, 'type':'chimique' }) }}">{{ entity.nomine }}</a>{%else%}<a href="{{ path('munition_lire', { 'id': entity.id, 'type':entity.className|lower }) }}">{{ entity.nomine }}</a>{% endif %}</td>
            <td>{% for munition in entity.pays %}{{munition.pays}}<br>{%endfor%}</td>
            <td>{% if type=='artillerie' %}{%if entity.calibre > 1%}{{ entity.calibre }}{{ entity.uniteDistance}}{%endif%}{%elseif type=='bombes'%}{%if entity.Diametre > 1%}{{entity.Diametre}}mm{%endif%}{%elseif type=='mortier'%}{%if entity.calibre > 1%}{{entity.calibre}}{{ entity.uniteCalibre}}{%endif%}{%elseif type=='mines'%}{%if entity.Diametre > 1%}{{entity.Diametre}}mm{%endif%}{%elseif type=='grenades'%}{%if entity.DiametreGrenade >1 %}{{entity.DiametreGrenade}}mm{%endif%}{%elseif type=='roquettes'%}{%if entity.calibre >1%}{{entity.calibre}}{{ entity.uniteCalibre}}{%endif%}{%elseif type=='missiles'%}{%if entity.CalibreDiametre > 1%}{{entity.CalibreDiametre}}{{ entity.uniteCalibre}}{%endif%}{%elseif type=='sousMunitions'%}{%if entity.DiametreNonLargue >1%}{{entity.DiametreNonLargue}}mm{%endif%}{%elseif type=='amorcage'%}{%if entity.DiametreFusee > 1%}{{entity.DiametreFusee}}mm{%endif%}{%endif%}
                </td>
            <td>{% if entity.dateMAJ %}{{ entity.dateMAJ|date('Y/m/d') }}{% endif %}</td>
            {#<td>{{str_statut[entity.statut]}}</td>#}
            <td class="text-center">
                {% block button %}

                {% endblock %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>






{% javascripts        
    '@FeodBundle/Resources/js/jquery-1.12.0.min.js'
    '@FeodBundle/Resources/js/jquery.dataTables.min.js'
    '@FeodBundle/Resources/js/dataTables.bootstrap.min.js'
    %}
<script type="text/javascript" src="{{ asset('js/jquery-1.12.0.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{ asset_url }}"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var table = $('#datatable').DataTable({
           
        "oLanguage": {
                    "sSearch": "Recherche globale:",
                    "sLengthMenu": "Afficher _MENU_ enregistrements par page.",
                    "sZeroRecords": "Aucune fiche trouvée - désolé",
                    "sInfo": "Affiche _START_ à _END_ sur _TOTAL_ enregistrement(s)",
                    "sInfoEmpty": "Aucun résultat",
                    "sInfoFiltered": "(filtré sur _MAX_ total enregistrements)"
                    },
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "order": [[7, 'desc']],
                "displayLength": 50,
                "responsive": true,
                
                "columnDefs": [
            {
                "targets": [ 1, 2, 7, 8 ],
                "visible": true,
                "searchable": false
            },
			{
				"targets": [0],
                "visible": false,
                "searchable": true
			}
  ],
        });      
} );
</script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
$(".clickable-row").click(function(){
        window.document.location = $(this).data("href");
});
    });
</script>
{% endjavascripts %}

{% endblock %}



