{% extends "::base2.html.twig" %}

{% block body -%}
<div id="rouge" {% if entity is defined and entity.rouge %}class="alert rouge"{% endif %}>
    <h1 style="text-align:center;"><b>Grenades</b></h1><h2 style="text-align:center;">{{entity.nomine}}</h2>
{% if error is defined and error is not null %}
<div class="flash-notice alert alert-danger">
        {{error}}
</div>
{% endif %}

        <div class="well container-fluid">

            {{ form_start(form, {"attr": {"class": "form-horizontal","role": "form", "id":"form"}}) }}

            <div class="row">
                <div class="col-sm-5">{{form_label(form.nomine)}}{{form_widget(form.nomine)}}</div>
                <div class="col-sm-3">{{form_label(form.rouge)}}{{form_widget(form.rouge)}}</div>
                <div class="col-sm-4">{{form_label(form.TypeGrenade)}}{{form_widget(form.TypeGrenade)}}</div>
            </div>
            <div class="row">
                <div class="col-sm-4">{{form_label(form.pays)}}{{form_widget(form.pays)}}</div>
                <div class="col-sm-4">{{form_label(form.paysAcquereur)}}{{form_widget(form.paysAcquereur)}}</div>
                <div class="col-sm-4">{{form_label(form.Alias)}}{{form_widget(form.Alias)}}</div>
            </div>
            <div class="row">
                <div class="col-sm-12">{{form_label(form.retrouveEn)}}{{form_widget(form.retrouveEn)}}</div>
            </div>

            <div class="row">
<br><br/>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#generalite" role="tab" data-toggle="tab">Généralités</a></li>
                    <li role="presentation"><a href="#Chargement" role="tab" data-toggle="tab">Chargement</a></li>
                    <li role="presentation"><a href="#Aspect-Dimensions" role="tab" data-toggle="tab">Aspect-Dimensions</a></li>
                    <li role="presentation"><a href="#marquage" role="tab" data-toggle="tab">Marquages</a></li>
                    <li role="presentation"><a href="#Amorcage" role="tab" data-toggle="tab">Amorçage</a></li>
					{% if is_granted("ROLE_CLIENT") %}
						<li role="presentation"><a href="#fonctionnement" role="tab" data-toggle="tab">Fonctionnement</a></li>
                    {% endif %}
					<li role="presentation"><a href="#conditionnement" role="tab" data-toggle="tab">Conditionnement</a></li>
                    <li role="presentation"><a href="#lanceur" role="tab" data-toggle="tab">Vecteur</a></li>
                    <li role="presentation"><a href="#historique" role="tab" data-toggle="tab">Historique</a></li>
                    <li role="presentation"><a href="#securite" role="tab" data-toggle="tab">Sécurité</a></li>
                    {% if is_granted("ROLE_CLIENT") %}
						<li role="presentation"><a href="#traitement" role="tab" data-toggle="tab">Traitement</a></li>
                    {% endif %}
					<li role="presentation"><a href="#remarque" role="tab" data-toggle="tab">Remarques</a></li>
                    <li role="presentation"><a href="#gestion" role="tab" data-toggle="tab">Gestion</a></li>
		</ul>
            </div>
            <div class="tab-content">


                <div id="generalite" role="tabpanel" class="tab-pane row container-fluid"><br>
    <div class="col-md-12">
    <br>
<div class="row">
    <div class="col-sm-6">{{form_label(form.denominationOTAN)}}{{form_widget(form.denominationOTAN)}}</div>
</div>
                     <hr>
            <div class="panel-group" id="accordion1">
                <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title">
                    
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                    
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
                        {% if entity.images is not empty %}
                        {% for image in form.images %}

                            {% block carousel %}
                            {% include ":default:CarousselImages.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                        <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
    {# Affichage des formulaires d'upload des fichiers dans un accordion pour ne as prendre trop de place#}
    <div class="panel-group" id="accordion">
        <div class="well panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <h3 class="center"><span class="glyphicon glyphicon-file"></span> <I>Documents</I></h3>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="well-lg">
                    {% if entity.file is not empty %}  
                    {% for file in entity.file %}
                        <div class="row">
                            <a href="{{asset(file.webPath)}}"  class="zoombox zgallery1"><h4><span class="glyphicon glyphicon-file"></span> {{file.name}}</h4>
                            </a>
                        </div>

                    {% endfor %}
                    {% endif%}
                    <hr>
                                        <div class="col-md-3">
                        <div class="File" data-prototype10="{{ form_widget(form.file.vars.prototype)| e }}">
                        </div>
                    </div>
                </div>
                </div>
            </div>
                            
        </div>   
    </div>
                        <hr>
<div class="row">
	<div class="col-sm-2 text-right">{{form_label(form.ModeFonctionnement)}}</div><div class="col-sm-2">{{form_widget(form.ModeFonctionnement)}}</div>
	<div class="col-sm-1 text-right col-sm-offset-1">{{form_label(form.EffetGrenade)}}</div><div class="col-sm-3">{{form_widget(form.EffetGrenade)}}</div>
	</div>
	<br>
<div class="row">
	<div class="col-sm-2 text-right">{{form_label(form.NatureEnveloppe)}}</div><div class="col-sm-2">{{form_widget(form.NatureEnveloppe)}}</div>
	<div class="col-sm-2 text-right">{{form_label(form.DiametreGrenade)}}</div><div class="col-sm-1">{{form_widget(form.DiametreGrenade)}}</div>
	<div class="col-sm-2 text-right">{{form_label(form.PoidsGrenade)}}</div><div class="col-sm-1">{{form_widget(form.PoidsGrenade)}}</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-sm-2 text-right">{{form_label(form.TypeRetard)}}</div><div class="col-sm-2">{{form_widget(form.TypeRetard)}}</div>
	<div class="col-sm-1 text-right col-sm-offset-1">{{form_label(form.RetardDe)}}</div><div class="col-sm-1">{{form_widget(form.RetardDe)}}</div>
	<div style="float: left; margin-left:2px; width:2%"class="text-right">{{form_label(form.RetardA)}}</div><div class="col-sm-1">{{form_widget(form.RetardA)}}</div>
	</div>
	<br>
<div class="row">
	<div class="col-sm-2 text-right">{{form_label(form.TypePropulsion)}}</div><div class="col-sm-2">{{form_widget(form.TypePropulsion)}}</div>
	</div>
<div class="row"><hr />
	<h4 class="center"> <b>Mécanismes</b></h4>
	</div>
<div class="row">
    <div class="col-sm-2 text-right">{{form_label(form.TypeAutoNeutralisation)}}</div><div class="col-sm-3">{{form_widget(form.TypeAutoNeutralisation)}}</div>
	</div>
	<br>
<div class="row">
	<div class="col-sm-2 text-right">{{form_label(form.TypeAutoDestruction)}}</div><div class="col-sm-3">{{form_widget(form.TypeAutoDestruction)}}</div>
	</div>
<br>
                <hr>
                    <div class="row">
                    <h4 class="center"> <I>Performances</I></h4>
                        <div class="col-sm-8 col-lg-offset-1">
                            {{form_widget(form.performances)}}
                        </div>
                    </div>
                <hr>
                    <div class="row">
                        <h5 class="col-sm-1 text-right"> <I>Nom Usine</I></h5>
                        <div class="col-sm-4">
                            {{form_widget(form.nomUsine)}}
                        </div>
                        <h5 class="col-sm-1 text-right"> <I>Code Usine</I></h5>
                        <div class="col-sm-3">
                            {{form_widget(form.codeUsine)}}
                        </div>
                    </div>
                        <br>
                    <div class="row">
                    <h4 class="center"> <I>Copie(s) Existante(s)</I></h4>
                        <div class="col-sm-12">
                            {{form_widget(form.CopieExistante)}}
                        </div>
                    </div>
</div>
</div>


<div id="Chargement" role="tabpanel" class="tab-pane row container-fluid"><br>
<div class="col-sm-12">
					<div class="row">
					<h3 class="center"> <b>Charge Militaire</b></h3>
					</div>
                        <br>
                        <h4 class="center"> <I>Chargement Explosif Principal</I></h4>
                        <div class="row">
							<div class="col-sm-1 text-right">{{form_label(form.ExplosifAssocies)}}</div>
							<div class="col-sm-2">{{form_widget(form.ExplosifAssocies)}}</div>
							{% if entity.ExplosifAssocies is not null %} 
							<div class="col-sm-1">
								<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/app_dev.php/explosif/{{entity.ExplosifAssocies.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
							</div>
							{% endif %}
							<div class="col-sm-1 text-right">{{form_label(form.PoidsChargeMili)}}</div><div class="col-sm-1">{{form_widget(form.PoidsChargeMili)}}</div>
							<div class="col-sm-1">{{form_widget(form.UniteQMA)}}</div>
						</div>
						<br>
						<h4 class="center"> <I>Chargement Explosif Alternatif</I></h4>
                        <div class="row">
                            <div class="col-sm-1 text-right">{{form_label(form.nBExploAlter)}}</div>
							<div class="col-sm-1" onchange="showBande('feodbundle_grenades_nBExploAlter','ExplosifAssociesAlter')">
                                {{form_widget(form.nBExploAlter)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="ExplosifAssociesAlter">
                                <div class="row">
									<div class="col-sm-1"></div>
									<div class="col-sm-2 text-right">{{form_label(form.ExplosifAssociesAlter1)}}</div>
									<div class="col-sm-2">{{form_widget(form.ExplosifAssociesAlter1)}}</div>
									{% if entity.ExplosifAssociesAlter1 is not null %} 
									<div class="col-sm-1">
										<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/explosif/{{entity.ExplosifAssociesAlter1.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
									</div>
									{% endif %}
									<div class="col-sm-1 text-right">{{form_label(form.poidsExploAlter1)}}</div>
									<div class="col-sm-1">{{form_widget(form.poidsExploAlter1)}}</div>
								</div>
                            </div>
                            <div class="ExplosifAssociesAlter">
                                <div class="row">
									<br />
									<div class="col-sm-1"></div>    
									<div class="col-sm-2 text-right">{{form_label(form.ExplosifAssociesAlter2)}}</div>
									<div class="col-sm-2">{{form_widget(form.ExplosifAssociesAlter2)}}</div>
									{% if entity.ExplosifAssociesAlter2 is not null %} 
									<div class="col-sm-1">
										<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/explosif/{{entity.ExplosifAssociesAlter2.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
									</div>
									{% endif %}
									<div class="col-sm-1 text-right">{{form_label(form.poidsExploAlter2)}}</div>
									<div class="col-sm-1">{{form_widget(form.poidsExploAlter2)}}</div>
								</div>
                            </div>
                        </div>
                        <hr>
                        <h4 class="center"> <I>Chargement Chimique Principal</I></h4>
                        <div class="row">
							<div class="col-sm-1 text-right">{{form_label(form.ChimiqueAssocies)}}</div>
							<div class="col-sm-2">{{form_widget(form.ChimiqueAssocies)}}</div>
							{% if entity.ChimiqueAssocies is not null %} 
							<div class="col-sm-1">
								<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/explosif/{{entity.ChimiqueAssocies.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
							</div>
							{% endif %}
							<div class="col-sm-1 text-right">{{form_label(form.poidsChim)}}</div>
							<div class="col-sm-1">{{form_widget(form.poidsChim)}}</div>
						</div>
                        <br />
                        <h4 class="center"> <I>Chargement Chimique Alternatif</I></h4>
                        <div class="row">
							<div class="col-sm-1 text-right">{{form_label(form.nBChimAlter)}}</div>
                            <div class="col-sm-1" onchange="showBande('feodbundle_grenades_nBChimAlter','ChimiqueAssociesAlter')">
								{{form_widget(form.nBChimAlter)}}
							</div>
						</div>
                        <div class="row">
                            <div class="ChimiqueAssociesAlter">
                                <div class="row">
									<div class="col-sm-1"></div>
									<div class="col-sm-2 text-right">{{form_label(form.ChimiqueAssociesAlter1)}}</div>
									<div class="col-sm-2">{{form_widget(form.ChimiqueAssociesAlter1)}}</div>
									{% if entity.ChimiqueAssociesAlter1 is not null %} 
									<div class="col-sm-1">
										<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/chimique/{{entity.ChimiqueAssociesAlter1.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
									</div>
									{% endif %}
									<div class="col-sm-1 text-right">{{form_label(form.poidsChimAlter1)}}</div>
									<div class="col-sm-1">{{form_widget(form.poidsChimAlter1)}}</div>
								</div>
							</div>
                            <div class="ChimiqueAssociesAlter">
                                <div class="row">
									<br />
									<div class="col-sm-1"></div>    
									<div class="col-sm-2 text-right">{{form_label(form.ChimiqueAssociesAlter2)}}</div>
									<div class="col-sm-2">{{form_widget(form.ChimiqueAssociesAlter2)}}</div>
									{% if entity.ChimiqueAssociesAlter2 is not null %} 
									<div class="col-sm-1">
										<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/chimique/{{entity.ChimiqueAssociesAlter2.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
									</div>
									{% endif %}
									<div class="col-sm-1 text-right">{{form_label(form.poidsChimAlter2)}}</div>
									<div class="col-sm-1">{{form_widget(form.poidsChimAlter2)}}</div>
								</div>
                            </div>
                        </div>
                        <br>
                        <h4 class="center"> <I>Matière Inerte</I></h4>
                        <div class="row">
							<div class="col-sm-1 text-right">{{form_label(form.natureChargeInerte)}}</div>
							<div class="col-sm-2">{{form_widget(form.natureChargeInerte)}}</div>
                        </div>
                        <br>
                        <hr>
						<h4 class="center"> <I>Effet Terminal du Chargement</I></h4>
                        <div class="row">
							<div class="col-sm-8 col-sm-offset-1">{{form_widget(form.effetChargement)}}</div>
                        </div>
                        <hr>
						<div class="row">
							<h3 class="center"> <b>Charge d'éclatement</b>&nbsp; &nbsp; &nbsp; &nbsp; {{form_widget(form.ChargeEclatement)}}</h3>
						</div>
						<div class="row">
							<div class="col-sm-1 text-right">{{form_label(form.natureChargeDispersion)}}</div>
							<div class="col-sm-4">{{form_widget(form.natureChargeDispersion)}}</div>
							{% if entity.natureChargeDispersion is not null %} 
							<div class="col-sm-1">
								<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/explosif/{{entity.natureChargeDispersion.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
							</div>
							{% endif %}
							<div class="col-sm-1 text-right">{{form_label(form.poidsChargeDispersion)}}</div>
							<div class="col-sm-1">{{form_widget(form.poidsChargeDispersion)}}</div>
                        </div>
						<hr>
						<div class="row">
							<h3 class="center"> <b>Charge de Propulsion</b>&nbsp; &nbsp; &nbsp; &nbsp; {{form_widget(form.ChargePropulsion)}}</h3>
						</div>
						<div class="row">
							<div class="col-sm-1 text-right">{{form_label(form.natureChargePropu)}}</div>
							<div class="col-sm-4">{{form_widget(form.natureChargePropu)}}</div>
							{% if entity.natureChargePropu is not null %} 
							<div class="col-sm-1">
								<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/explosif/{{entity.natureChargePropu.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
							</div>
							{% endif %}
							<div class="col-sm-1 text-right">{{form_label(form.poidsChargePropu)}}</div>
							<div class="col-sm-1">{{form_widget(form.poidsChargePropu)}}</div>
							<div class="col-sm-1 text-right">{{form_label(form.DiametreChargePropu)}}</div>
							<div class="col-sm-1">{{form_widget(form.DiametreChargePropu)}}</div>
						</div>
                        <hr>
						<div class="row">
							<h3 class="center"> <b>Charge Tandem</b></h3>
						</div>
                        <div class="row">
							<div class="col-sm-1 text-right">{{form_label(form.natureChargeTandem)}}</div>
							<div class="col-sm-4">{{form_widget(form.natureChargeTandem)}}</div>
							{% if entity.natureChargeTandem is not null %} 
							<div class="col-sm-1">
								<a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/explosif/{{entity.natureChargeTandem.id}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-arrow-right"></span> Voir Fiche</a>
							</div>
							{% endif %}
							<div class="col-sm-1">{{form_label(form.poidsChargeTandem)}}</div>
							<div class="col-sm-1">{{form_widget(form.poidsChargeTandem)}}</div>
                        </div>
						<br>
        <br>
        <div class="panel-group" id="accordion2">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesChargement" data-prototype7="{{ form_widget(form.imagesChargement.vars.prototype)|e }}">
                        {% if entity.imagesChargement is not empty %}
                        {% for image in form.imagesChargement %}

                            {% block carousel1 %}
                            {% include ":default:CarousselImagesChargement.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                        <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
</div>
</div>

<div id="Aspect-Dimensions" role="tabpanel" class="tab-pane row container-fluid"><br>
<div class="col-md-12">
<div class="row"><hr />
	<h4 class="center"> <b>Formes</b></h4>
	<div class="col-sm-3">{{form_widget(form.FormeGrenade)}}</div>
	</div>
<div class="row"><hr />
	<h4 class="center"> <b>Stabilisation</b></h4>
	<div class="col-sm-3">{{form_widget(form.TypeStabilisation)}}</div>
	</div>
<div class="row"><hr />
	<h4 class="center"> <b>Dimensions</b></h4>
	</div>
<div class="row">	
	<div class="col-sm-2">{{form_label(form.HauteuravecBA)}}</div><div class="col-sm-1">{{form_widget(form.HauteuravecBA)}}</div>
	<div class="col-sm-2">{{form_label(form.HauteursansBA)}}</div><div class="col-sm-1">{{form_widget(form.HauteursansBA)}}</div>
	</div>
<div class="row">
	</div>
<div class="row"><hr />
	<h4 class="center"> <b>Aspects</b></h4>
	</div>
	<div class="row">
	<div class="col-sm-2">{{form_label(form.AspectExterieurGrenande)}}</div><div class="col-sm-3">{{form_widget(form.AspectExterieurGrenande)}}</div>
	</div>
	<div class="row">
	<div class="col-sm-2">{{form_label(form.MatiereGrenade)}}</div><div class="col-sm-3">{{form_widget(form.MatiereGrenade)}}</div>
	</div>
	<div class="row">
	<div class="col-sm-2">{{form_label(form.DiametreManchon)}}</div><div class="col-sm-1">{{form_widget(form.DiametreManchon)}}</div>
	</div>
        <br>
                          <div class="panel-group" id="accordion3">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                </h4>
            </div>
            <div id="collapseOne3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesDimensions" data-prototype8="{{ form_widget(form.imagesDimensions.vars.prototype)|e }}">
                        {% if entity.imagesDimensions is not empty %}
                        {% for image in form.imagesDimensions %}

                            {% block carousel2 %}
                            {% include ":default:CarousselImagesDimensions.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                        <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
	</div>
</div>

<div id="marquage" role="tabpanel" class="tab-pane row container-fluid"><br>
<div class="col-md-12">
<div class="row"><hr />
	<div class="col-sm-2"><b>Couleur du corps</b></div><div class="col-sm-2">{{form_label(form.EnveloppeCouleurHautGrenade)}}</div><div class="col-sm-3">{{form_widget(form.EnveloppeCouleurHautGrenade)}}</div>
	</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-2">{{form_label(form.CouleurHautGrenade)}}</div><div class="col-sm-3">{{form_widget(form.CouleurHautGrenade)}}</div>
	</div>
<div class="row">
<div class="col-sm-2 col-sm-offset-2">{{form_label(form.CouleurBasGrenade)}}</div><div class="col-sm-3">{{form_widget(form.CouleurBasGrenade)}}</div>
</div>
<div class="row"><hr />
	<div class="col-sm-2"><b>Marquages corps</b></div>
	<div class="col-sm-2">{{form_label(form.MarquageAFroid)}}</div><div class="col-sm-3">{{form_widget(form.MarquageAFroid)}}</div>
	</div>
<div class="row">
<div class="col-sm-2 col-sm-offset-2">{{form_label(form.MarquageEnRelief)}}</div><div class="col-sm-3">{{form_widget(form.MarquageEnRelief)}}</div>
	</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-2">{{form_label(form.MarquageEnCouleur)}}</div><div class="col-sm-3">{{form_widget(form.MarquageEnCouleur)}}</div>
	</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-2">{{form_label(form.CouleurMarquage)}}</div><div class="col-sm-3">{{form_widget(form.CouleurMarquage)}}</div>
	</div>
<div class="row"><hr />
<div class="col-sm-2"><b>Marquages Fusée/BA</b></div>
<div class="col-sm-2">{{form_label(form.NomAllumeurFuze)}}</div><div class="col-sm-3">{{form_widget(form.NomAllumeurFuze)}}</div>
</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-2">{{form_label(form.CouleurAllumeur)}}</div><div class="col-sm-3">{{form_widget(form.CouleurAllumeur)}}</div>
	</div>
<div class="row"><hr />
<div class="col-sm-2"><b>Bande(s) de couleur</b></div>
<div class="col-sm-2">{{form_label(form.NbBandeCouleur)}}</div><div class="col-sm-1">{{form_widget(form.NbBandeCouleur)}}</div>
</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-2">{{form_label(form.BandeCouleur1)}}</div><div class="col-sm-2">{{form_widget(form.BandeCouleur1)}}</div>
	</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-2">{{form_label(form.BandeCouleur2)}}</div><div class="col-sm-2">{{form_widget(form.BandeCouleur2)}}</div>
	</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-2">{{form_label(form.BandeCouleur3)}}</div><div class="col-sm-2">{{form_widget(form.BandeCouleur3)}}</div>
	</div>
        <br>
                          <div class="panel-group" id="accordion4">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                </h4>
            </div>
            <div id="collapseOne4" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesMarquages" data-prototype2="{{ form_widget(form.imagesMarquages.vars.prototype)|e }}">
                        {% if entity.imagesMarquages is not empty %}
                        {% for image in form.imagesMarquages %}

                            {% block carousel3 %}
                            {% include ":default:CarousselImagesMarquages.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                       <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
</div>
</div>

                        <div id="Amorcage" role="tabpanel" class="tab-pane row container-fluid"><br>
                            <div class="col-md-12">
<div class="row"><hr />
	<h4 class="center"> <b>Type d'amorçage</b></h4>
	</div>
<div class="row">
	<div class="col-sm-4">{{form_widget(form.TypeAmorcage)}}</div>
	</div>
<div class="row"><hr />
	<h4 class="center"> <b>Chaîne pyrotechnique</b></h4>
	</div>
<div class="row">	
	<div class="col-sm-1 text-right">{{form_label(form.TypeAmorce)}}</div><div class="col-sm-2">{{form_widget(form.TypeAmorce)}}</div>
	<div class="col-sm-1 text-right">{{form_label(form.Detonateur)}}</div>	<div class="col-sm-1">{{form_widget(form.Detonateur)}}</div>
	<div class="col-sm-1 text-right">{{form_label(form.Renforcateur)}}</div><div class="col-sm-1">{{form_widget(form.Renforcateur)}}</div>
	<div class="col-sm-1 text-right">{{form_label(form.Inflammateur)}}</div><div class="col-sm-1">{{form_widget(form.Inflammateur)}}</div>
	<div class="col-sm-1 text-right">{{form_label(form.Relais)}}</div><div class="col-sm-1">{{form_widget(form.Relais)}}</div>
	
</div>
<div class="row">	
	</div>
<div class="row">
	</div>
       <br>
    <h3 class="center"> <I>Allumeur(s) Associé(s)</I></h3>
                    
                    <div class="well AmorcageAssocies" data-prototype13="{{ form_widget(form.AmorcageAssocies.vars.prototype)|e }}"> 
                        {% if prototype13 is defined %}
                        {% set attr = attr|merge({'data-prototype13': block('_AmorcageAssocies_item_widget') }) %}
                        {% endif %}
                    {{ form_errors(form) }}
			{% for rows in form.AmorcageAssocies %}
                                        <div class="row">
                                        <div class="col-sm-1 col-lg-offset-1">
                                             
                                        </div>
					<div class="col-sm-2">
						<b><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{ form_label(rows.NomAmorcage, "Nom"|trans) }}</b>{{ form_widget(rows.NomAmorcage)}}
					</div>
                                        <div class="col-sm-3">
						{{ form_label(rows.typeFusee, "Type"|trans) }}{{ form_widget(rows.typeFusee)}}
					</div>
                                                {% if rows.NomAmorcage is not null %} 
                                        <div class="col-sm-1">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-info btn-sm" href="http://feod.intradef.gouv.fr/amorcage/{{rows.NomAmorcage.vars.value}}/lire" role="button" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> Voir Fiche</a>
                                        </div>
                                        {% endif %}
                                        </div>
                                        <div class="row">
                                        <div class="col-sm-2 col-lg-offset-2">
                                            {{ form_label(rows.positionFusee, "Position"|trans) }}
                                                {{ form_widget(rows.positionFusee) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_label(rows.DeclenchementFusee, "Déclenchement"|trans) }}
                                                {{ form_widget(rows.DeclenchementFusee) }}
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-sm-5 col-lg-offset-2">
                                            {{ form_label(rows.commentaires, "Commentaires"|trans) }}
                                                {{ form_widget(rows.commentaires)}}
                                        </div>
                                        </div>
                                        <hr>
                                        {% endfor %}
                                <br>
                                <div class="row">
                    </div>
                    </div>
                    <hr>
                    <br>
	<div class="panel-group" id="accordion5">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                </h4>
            </div>
            <div id="collapseOne5" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesFusees" data-prototype2="{{ form_widget(form.imagesFusees.vars.prototype)|e }}">
                        {% if entity.imagesFusees is not empty %}
                        {% for image in form.imagesFusees %}

                            {% block carousel4 %}
                            {% include ":default:CarousselImagesMarquages.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                       <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                    <br>
</div>
</div>
                                      
                        <div id="fonctionnement" role="tabpanel" class="tab-pane row container-fluid"><br>
                            <div class="col-md-12">
						<div class="">{{form_label(form.fonctionnement)}}{{form_widget(form.fonctionnement)}}
    </div>
                                        <br>
                          <div class="panel-group" id="accordion6">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Schéma de Fonctionnement</I></h3>
                </h4>
            </div>
            <div id="collapseOne6" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesFonctionnement" data-prototype3="{{ form_widget(form.imagesFonctionnement.vars.prototype)|e }}">
                        {% if entity.imagesFonctionnement is not empty %}
                        {% for image in form.imagesFonctionnement %}

                            {% block carousel5 %}
                            {% include ":default:CarousselImagesFonctionnement.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                        <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
                    </div>
                        </div>




					<div id="conditionnement" role="tabpanel" class="tab-pane row container-fluid"><br>
					<div class="col-md-12">
						<br>
<div class="row">
	<div class="col-sm-2">
	<h4 class="center"> <I>Emballage</I></h4>
	</div>
    <div class="col-sm-4">{{form_label(form.conditionnementTypeEmballage)}}{{form_widget(form.conditionnementTypeEmballage)}}</div>
	<div class="col-sm-4">{{form_label(form.conditionnementTypeCloisonnement)}}{{form_widget(form.conditionnementTypeCloisonnement)}}</div>
	<div class="col-sm-1">{{form_label(form.coupComplet)}}</div><div class="col-sm-1">{{form_widget(form.coupComplet)}}
	</div>
	</div>
	<br>
<div class="row">
    <div class="col-sm-2" onchange="volumeCalc('feodbundle_grenades_conditionnementDimEmballageHaut','feodbundle_grenades_conditionnementDimEmballageLarg','feodbundle_grenades_conditionnementDimEmballageLong','feodbundle_grenades_conditionnementVolumeEmballage')">
        {{form_label(form.conditionnementDimEmballageLong)}}{{form_widget(form.conditionnementDimEmballageLong)}}</div>
    <div class="col-sm-2" onchange="volumeCalc('feodbundle_grenades_conditionnementDimEmballageHaut','feodbundle_grenades_conditionnementDimEmballageLarg','feodbundle_grenades_conditionnementDimEmballageLong','feodbundle_grenades_conditionnementVolumeEmballage')">
        {{form_label(form.conditionnementDimEmballageLarg)}}{{form_widget(form.conditionnementDimEmballageLarg)}}</div>
    <div class="col-sm-2" onchange="volumeCalc('feodbundle_grenades_conditionnementDimEmballageHaut','feodbundle_grenades_conditionnementDimEmballageLarg','feodbundle_grenades_conditionnementDimEmballageLong','feodbundle_grenades_conditionnementVolumeEmballage')">
        {{form_label(form.conditionnementDimEmballageHaut)}}{{form_widget(form.conditionnementDimEmballageHaut)}}</div>
    <div class="col-sm-2">{{form_label(form.conditionnementVolumeEmballage)}}{{form_widget(form.conditionnementVolumeEmballage)}}</div>
	<div class="col-sm-2">{{form_label(form.conditionnementPoidsEmballage)}}{{form_widget(form.conditionnementPoidsEmballage)}}</div>
    </div>
<div class="row">
    <div class="col-sm-2">{{form_label(form.conditionnementQteEmballage)}}{{form_widget(form.conditionnementQteEmballage)}}</div>
    <div class="col-sm-2">{{form_label(form.conditionnementPoidsTotal)}}{{form_widget(form.conditionnementPoidsTotal)}}</div>
    </div>
<div class="row">
    <div class="col-sm-8">{{form_label(form.conditionnementMarquageEmballage)}}{{form_widget(form.conditionnementMarquageEmballage)}}
    </div>    
    </div>
	<br>
<div class="row">
	<div class="col-sm-2">
	<h4 class="center"> <I>T° Stockage</I></h4>
	</div>
	<div class="col-sm-1 text-right">{{form_label(form.conditionnementTempStockMin)}}</div><div class="col-sm-1">{{form_widget(form.conditionnementTempStockMin)}}</div>
	<div class="col-sm-1 text-right">{{form_label(form.conditionnementTempStockMax)}}</div><div class="col-sm-1">{{form_widget(form.conditionnementTempStockMax)}}</div>
    </div>
<div class="row">
	<div class="col-sm-2">
	<h4 class="center"> <I>T° Utilisation</I></h4>
	</div>
	<div class="col-sm-1 text-right">{{form_label(form.conditionnementTempUtilMin)}}</div><div class="col-sm-1">{{form_widget(form.conditionnementTempUtilMin)}}</div>
	<div class="col-sm-1 text-right">{{form_label(form.conditionnementTempUtilMax)}}</div><div class="col-sm-1">{{form_widget(form.conditionnementTempUtilMax)}}</div>
    </div>
	<br>
<div class="row">
	<div class="col-sm-2">
	<h4 class="center"> <I>Classe de Stockage</I></h4>
	</div>
	<div class="col-sm-3">{{form_label(form.conditionnementClasseDangerStockage)}}{{form_widget(form.conditionnementClasseDangerStockage)}}</div>
    <div class="col-sm-3">{{form_label(form.conditionnementGroupeComptabiliteStockage)}}{{form_widget(form.conditionnementGroupeComptabiliteStockage)}}</div>
    </div>
	<br>
<div class="row">
	<div class="col-sm-3">
	<h4 class="center"> <I>Rayonnements électromagnétiques</I></h4>
	</div>
    <div class="col-sm-4" onchange="colorField('feodbundle_grenades_DRAM')">{{form_label(form.DRAM)}}{{form_widget(form.DRAM)}}</div>
	<div class="col-sm-4" onchange="colorField('feodbundle_grenades_DREP')">{{form_label(form.DREP)}}{{form_widget(form.DREP)}}</div>
    </div>
	<br>
            <div class="panel-group" id="accordion7">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                </h4>
            </div>
            <div id="collapseOne7" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesConditionnement" data-prototype4="{{ form_widget(form.imagesConditionnement.vars.prototype)|e }}">
                        {% if entity.imagesConditionnement is not empty %}
                        {% for image in form.imagesConditionnement %}

                            {% block carousel6 %}
                            {% include ":default:CarousselImagesConditionnement.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                        <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
                </div>
				</div>




                    <div id="lanceur" role="tabpanel" class="tab-pane row container-fluid"><br>
                    <div class="col-sm-12">
                    <div class="">
                        {{form_label(form.lanceur)}}{{form_widget(form.lanceur)}}
                    </div>
                    <br>
            <div class="panel-group" id="accordion8">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                </h4>
            </div>
            <div id="collapseOne8" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesVecteur" data-prototype5="{{ form_widget(form.imagesVecteur.vars.prototype)|e }}">
                        {% if entity.imagesVecteur is not empty %}
                        {% for image in form.imagesVecteur %}

                            {% block carousel8 %}
                            {% include ":default:CarousselImagesVecteur.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                        <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
						
				</div>
                </div>




		<div id="historique" role="tabpanel" class="tab-pane row container-fluid"><br>
			<div class="col-sm-12">
				<div class="">
					{{form_label(form.historique)}}{{form_widget(form.historique)}}
				</div>
            </div>
		</div>




        <div id="securite" role="tabpanel" class="tab-pane row container-fluid"><br>
			<div class="col-sm-12">
				<div class="">
					{{form_label(form.securite)}}{{form_widget(form.securite)}}
				</div>
				<div class="">
					{{form_label(form.TravauxAttenuation)}}{{form_widget(form.TravauxAttenuation)}}
				</div>
			</div>
		</div>
				
				
		<div id="traitement" role="tabpanel" class="tab-pane row container-fluid"><br>
		<div class="col-sm-12">
                    <div class="">
                        {{form_label(form.NEDE)}}{{form_widget(form.NEDE)}}
                    </div>
                    <div class="">
                        {{form_label(form.dementelement)}}{{form_widget(form.dementelement)}}
                    </div>
                    <div class="">
                        {{form_label(form.demilitarisationConnue)}}{{form_widget(form.demilitarisationConnue)}}
                    </div>
										<br>
        <div class="panel-group" id="accordion9">
            <div class="well panel panel-default">
                    <div class="panel-heading">
                <h4 class="panel-title"> 
                        <h3 class="center"><span class="glyphicon glyphicon-camera"></span> <I>Photos</I></h3>
                </h4>
            </div>
            <div id="collapseOne9" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="well-lg">
                    <div class="imagesTraitement" data-prototype6="{{ form_widget(form.imagesTraitement.vars.prototype)|e }}">
                        {% if entity.imagesTraitement is not empty %}
                        {% for image in form.imagesTraitement %}

                            {% block carousel7 %}
                            {% include ":default:CarousselImagesTraitement.html.twig" %}
                            {% endblock %}

                        {%endfor%}
                        {%endif%}
                        <br>
                    </div>
                    <hr>
                    </div>
                </div>
            </div>                
        </div>   
    </div>
                        <hr>
                </div>
		</div>




                <div id="remarque" role="tabpanel" class="tab-pane row container-fluid"><br>
		<div class="col-sm-12">                    
                        {{form_label(form.remarques)}}{{form_widget(form.remarques)}}                    
                </div>
                </div>




            <div id="gestion" role="tabpanel" class="tab-pane row container-fluid"><br>
				<div class="col-sm-12">
                    <center><FONT color="red"><I>Les champs Source, Fiabilité, Cohérence doivent être remplis</I> </FONT></center>
                    <br />
					<div class="row">
                        <div class="col-sm-5">
                            {% if entity.createurFiche is not null %}
                            <div class="col-sm-4">Fiche créée par : </div><div class="col-sm-5">{{entity.createurFiche}}</div>
                            {% else %}
                                <p>Pas de Créateur</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-5 col-lg-offset-1">
                            {% if entity is defined and entity.dateCreation is defined %}
                            <div class="col-sm-5">Date de création : </div><div class="col-sm-5">{{entity.dateCreation|date("d/m/Y")}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            {% if entity.modificateurFiche is not null %}
                            <div class="col-sm-4">Fiche modifiée par : </div><div class="col-sm-5">{{entity.modificateurFiche}}</div>
                            {% else %}
                            <p>Pas de modificateur<p>
                                {% endif %}
                        </div>
                        <div class="col-sm-5 col-lg-offset-1">
                            {% if entity is defined and entity.dateMAJ is defined %}
                            <div class="col-sm-5">Date de dernière mise à jour : </div><div class="col-sm-5">{{entity.dateMAJ|date("d/m/Y")}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            {% if entity.validateur is not null %}
                            <div class="col-sm-4">Fiche validée par :  </div><div class="col-sm-5">{{entity.validateur}}</div>
                            {% else %}
                                <p>Pas de validateur</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-5 col-lg-offset-1">
                            {% if entity is defined and entity.dateValidation is defined %}
                                {% if entity.dateValidation is not null %}
                                <div class="col-sm-5">Date de validation : </div><div class="col-sm-5">{{entity.dateValidation|date("d/m/Y")}}</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
					<br />
                    <div class="row">
                        <div class="col-sm-5">{{form_label(form.origineInfos)}}</div>
                        <div class="text-center" style="float: left; margin-left:4%; width:18%">{{form_label(form.fiabiliteSource)}}</div>
                        <div class="text-center" style="float: left; margin-left:2px; width:24%">{{form_label(form.coherenceInformation)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">{{form_widget(form.origineInfos)}}</div>
                        <div class="text-right" style="float: left; margin-left:4%; width:18%">{{form_widget(form.fiabiliteSource)}}</div>
                        <div style="float: left; margin-left:2px; width:24%">{{form_widget(form.coherenceInformation)}}</div>
                    </div>
					<br />
                    <div class="row">
                        <div class="col-sm-8 col-lg-offset-2">
                            {{form_label(form.collectionTravail)}}{{form_widget(form.collectionTravail)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-lg-offset-2">
                            {{form_label(form.collectionTerrain)}}{{form_widget(form.collectionTerrain)}}
                        </div>
                    </div>
                </div>
			</div>
                   <br>
            </div>
                        <br>
			{{ form_widget(form.submit, {"attr": {"class": "btn btn-primary fixed"}}) }}
                        {{ form_widget(form.reset, {'attr': {'class': 'btn btn-danger fixed'}}) }}
            <div class="hidden">{{ form_rest(form) }}</div>
            {{ form_end(form) }}

        </div>

        <ul class="record_actions">
            <li>
                <a href="{{ path('munition',{'type':'grenades'}) }}">
                    Retour à la liste
                </a>
            </li>
        </ul>
    </div>
	
     {% javascripts
    '@FeodBundle/Resources/js/new.js'
    '@FeodBundle/Resources/js/collection.js'
    '@FeodBundle/Resources/js/script.js'
    '@FeodBundle/Resources/js/launch.js'%}
    <script src="{{ asset_url }}"></script>
	<script type="text/javascript" src="{{ asset('js/zoombox/zoombox.js')}}"></script>
<script type="text/javascript">
    jQuery(function($){
        $('a.zoombox').zoombox({
            theme : 'zoombox',
            opacity : 0.8,
            animation : true,
            width : 1280,
            height : 1024,
            gallery : false,
        });
    });
</script>
    {% endjavascripts %}

{% endblock %}
