<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<title>FICHE ARTILLERIE : {{entity.nomine}}</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Titre 1 Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
	text-decoration:underline;}
h2
	{mso-style-link:"Titre 2 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h3
	{mso-style-link:"Titre 3 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:2.0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-1.0cm;
	font-size:11.0pt;
	font-family:"Times New Roman","serif";}
h4
	{mso-style-link:"Titre 4 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:99.8pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-43.1pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
h5
	{mso-style-link:"Titre 5 Car";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:121.35pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-50.45pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h6
	{mso-style-link:"Titre 6 Car";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:148.85pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:-63.8pt;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"Titre 7 Car";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:175.8pt;
	text-align:justify;
	text-indent:-76.55pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"En-tête Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Pied de page Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-link:"Corps de texte Car";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
code
	{font-family:"Courier New";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texte de bulles Car";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
span.Titre1Car
	{mso-style-name:"Titre 1 Car";
	mso-style-link:"Titre 1";
	font-family:"Cambria","serif";
	color:#365F91;
	font-weight:bold;}
span.Titre2Car
	{mso-style-name:"Titre 2 Car";
	mso-style-link:"Titre 2";
	font-weight:bold;}
span.Titre3Car
	{mso-style-name:"Titre 3 Car";
	mso-style-link:"Titre 3";
	font-weight:bold;}
span.Titre4Car
	{mso-style-name:"Titre 4 Car";
	mso-style-link:"Titre 4";
	font-weight:bold;}
span.Titre5Car
	{mso-style-name:"Titre 5 Car";
	mso-style-link:"Titre 5";
	font-weight:bold;}
span.Titre6Car
	{mso-style-name:"Titre 6 Car";
	mso-style-link:"Titre 6";
	font-weight:bold;}
span.Titre7Car
	{mso-style-name:"Titre 7 Car";
	mso-style-link:"Titre 7";}
span.En-tteCar
	{mso-style-name:"En-tête Car";
	mso-style-link:En-tête;
	font-family:"Times New Roman","serif";}
span.PieddepageCar
	{mso-style-name:"Pied de page Car";
	mso-style-link:"Pied de page";
	font-family:"Times New Roman","serif";}
span.CorpsdetexteCar
	{mso-style-name:"Corps de texte Car";
	mso-style-link:"Corps de texte";}
span.TextedebullesCar
	{mso-style-name:"Texte de bulles Car";
	mso-style-link:"Texte de bulles";
	font-family:"Tahoma","sans-serif";}
p.msolistparagraphcxspfirst, li.msolistparagraphcxspfirst, div.msolistparagraphcxspfirst
	{mso-style-name:msolistparagraphcxspfirst;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.msolistparagraphcxspmiddle, li.msolistparagraphcxspmiddle, div.msolistparagraphcxspmiddle
	{mso-style-name:msolistparagraphcxspmiddle;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.msolistparagraphcxsplast, li.msolistparagraphcxsplast, div.msolistparagraphcxsplast
	{mso-style-name:msolistparagraphcxsplast;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.msochpdefault, li.msochpdefault, div.msochpdefault
	{mso-style-name:msochpdefault;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
.MsoChpDefault
	{font-size:10.0pt;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:21.25pt 70.9pt 44.5pt 70.9pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

<link rel=icon type="image/x-icon" href="{{asset('favicon.ico')}}">
</head>

<body lang=FR link=blue vlink=purple>

<div class=WordSection1>

<p class=MsoNormal><span style='font-size:12.0pt'>{% block favicon %} {%
endblock %} </span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=731
 style='width:548.2pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.45pt'>
  <td width=168 colspan=2 style='width:126.2pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.45pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=316 colspan=4 style='width:237.25pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.45pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=246 style='width:184.75pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.45pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:25.1pt'>
  <td width=419 colspan=4 rowspan=2 style='width:314.0pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:25.1pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : {{ entity.nomine }}</span></b></p>
  </td>
  <td width=312 colspan=3 style='width:234.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:25.1pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de création de la fiche</span></b><span style='font-size:12.0pt'>&nbsp;: </span>{{entity.dateCreation|date
  ('d M Y')}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:19.15pt'>
  <td width=312 colspan=3 style='width:234.2pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:19.15pt'>
  <p class=MsoNormal style='margin-top:3.0pt'><b><span style='font-size:12.0pt'>Date
  de mise à jour</span></b><span style='font-size:12.0pt'>&nbsp;:</span>
  {{entity.dateMAJ|date ('d M Y')}}<span style='font-size:14.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></p>
  </td>
 </tr>
 <tr style='height:40.95pt'>
  <td width=82 style='width:61.85pt;border-top:none;border-left:double windowtext 1.5pt;
  border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:40.95pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>TYPE </span></b><span
  style='font-size:12.0pt'>: </span></p>
  </td>
  <td width=277 colspan=2 style='width:208.05pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:40.95pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{%for
  munition in artillerie.typeObus%}&nbsp; {{munition.typeObus}}&nbsp;
  {%endfor%}</span></p>
  </td>
  <td width=107 colspan=2 style='width:80.55pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:40.95pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>DENOM. OTAN</span></b></p>
  </td>
  <td width=264 colspan=2 style='width:197.75pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:40.95pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span style='font-size:11.0pt'>&nbsp;{{
  entity.denominationOTAN }}</span></p>
  </td>
 </tr>
 <tr style='height:28.15pt'>
  <td width=360 colspan=3 style='width:269.9pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;border-right:
  solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:28.15pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><b><span style='font-size:12.0pt'>PAYS D’ORIGINE</span></b></p>
  </td>
  <td width=371 colspan=4 style='width:278.3pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:28.15pt'>
  <p class=MsoNormal style='margin-top:3.0pt;margin-right:0cm;margin-bottom:
  3.0pt;margin-left:0cm'><span lang=EN-US style='font-size:12.0pt'>{% for munition
  in entity.pays %} &nbsp;{{munition.pays}} &nbsp;{%endfor%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:43.1pt'>
  <td width=731 colspan=7 style='width:548.2pt;border-top:none;border-left:
  double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:
  double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:43.1pt'>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.images is defined %}{% for images in entity.images%}{% if
  loop.index == 1 %}</span><img width=40%
  src="{{app.request.basepath}}/uploads/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:74.35pt'>
  <td width=360 colspan=3 valign=top style='width:269.9pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:74.35pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>GENERALITES</span></u></b><b><span
  style='font-size:12.0pt'> :</span></b>&nbsp; </p>
  <p class=MsoNormal><b>&nbsp;</b></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Calibre</span></u><span
  style='font-size:12.0pt'>
  &nbsp;&nbsp;:
  {{entity.calibre}} {{entity.uniteDistance}}</span></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Poids de la munition (kg)</span></u><span
  style='font-size:12.0pt'>
  &nbsp;&nbsp;:
  {{artillerie.poids}}</span></p>
    <p class=MsoNormal><u><span style='font-size:12.0pt'>Poids du projectile (kg)</span></u><span
  style='font-size:12.0pt'>
  &nbsp;&nbsp;:
  {{artillerie.poidsProjectile}}</span></p>
    <p class=MsoNormal><u><span style='font-size:12.0pt'>Poids de la douille (kg)</span></u><span
  style='font-size:12.0pt'>
  &nbsp;&nbsp;:
  {{artillerie.poidsDouille}}</span></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Nature de l’enveloppe</span></u><span
  style='font-size:12.0pt'>&nbsp; : {{artillerie.natureEnveloppe}}</span></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Traceur : </span></b><span style='font-size:10.0pt'>{%if entity.traceur ==1 %}OUI{%else%}NON{%endif%}</span></p>
  <p class=MsoNormal style='text-indent:10.0pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Ø&nbsp;(mm)</span></u></i><i><span style='font-family:
  "Arial","sans-serif"'> :&nbsp;</span></i><span style='font-family:"Arial","sans-serif"'>{{artillerie.diametreTraceur}}&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><u>longueur (mm)</u>&nbsp;: </i>{{artillerie.longTraceur}}&nbsp;<i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>AD&nbsp;:</u>&nbsp;
  </i></span>{% if entity.AutoDestruction ==1%}Oui{%else%}Non{%endif%}<i><span style='font-family:"Arial","sans-serif"'>
  </span></i></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Ceinture (s)&nbsp;: </span></b>{{entity.typeCeinture}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Nb&nbsp;:</span></u></i><i><span style='font-family:
  "Arial","sans-serif"'> &nbsp;</span></i>{{entity.nombreCeintures}} <span
  style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i><u><span
  style='font-family:"Arial","sans-serif"'>&nbsp;Distance entre ceinture</span></u></i><i><span
  style='font-family:"Arial","sans-serif"'>&nbsp;: </span></i>{{entity.distanceCeinture}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Matière</span></u></i><i><span
  style='font-family:"Arial","sans-serif"'>&nbsp;:</span></i></p>
  {%if entity.nombreCeintures ==1%}<p class=MsoNormal style='text-indent:10.7pt'><i><span style='font-size:8.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp; Ceinture 1&nbsp;: </span></i>{{entity.matiereCeinture}}</p>
  {% elseif entity.nombreCeintures ==2 %}<p class=MsoNormal style='text-indent:10.7pt'><i><span style='font-size:8.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp; Ceinture 2&nbsp;:</span></i>
  {{entity.matiereCeinture1}}</p>
  {% elseif entity.nombreCeintures ==3 %}<p class=MsoNormal style='text-indent:10.7pt'><i><span style='font-size:8.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp; Ceinture 3&nbsp;:</span></i>
  {{entity.matiereCeinture2}}</p>{%else%}{%endif%}
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Largeur ceinture</span></u></i><i><span
  style='font-family:"Arial","sans-serif"'>&nbsp;:</span></i></p>
  {%if entity.nombreCeintures ==1%}<p class=MsoNormal style='text-indent:10.7pt'><i><span style='font-size:8.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp; Ceinture 1&nbsp;: </span></i>{{entity.largeurCeinture}} mm</p>
  {% elseif entity.nombreCeintures ==2 %}<p class=MsoNormal style='text-indent:10.7pt'><i><span style='font-size:8.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp; Ceinture 2&nbsp;:</span></i>
  {{entity.largeurCeinture1}} mm</p>
  {% elseif entity.nombreCeintures ==3 %}<p class=MsoNormal style='text-indent:10.7pt'><i><span style='font-size:8.0pt;
  font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp; Ceinture 3&nbsp;:</span></i>
  {{entity.largeurCeinture2}} mm</p>{%else%}{%endif%}
  </td>
  <td width=371 colspan=4 valign=top style='width:278.3pt;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:74.35pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>MARQUAGES</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>:&nbsp; </span></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Ogive&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Couleur :</span></u></i>
  &nbsp;{{artillerie.CouleurOgive}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Type d’inscription :</span></u></i>
  &nbsp;{{artillerie.typeInscOgive}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Couleur inscription :</span></u></i><span
  style='font-size:12.0pt'> </span>&nbsp;{{artillerie.couleurInscOgive}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Nb de bandes &nbsp;:</span></u></i><span
  style='font-size:12.0pt'> </span>{{artillerie.nbBandesOgive}}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Corps&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Couleur :</span></u></i>
  &nbsp;{{artillerie.couleurCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Type d’inscription :</span></u></i>
  &nbsp;{{artillerie.typeInscCorps}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Couleur inscription :</span></u></i>
  &nbsp;{{artillerie.couleurInscCorps}} </p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Nb de bandes :</span></u></i><span style='font-size:
  12.0pt'> &nbsp;</span>{{artillerie.nbBandesCorps}}</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Culot&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Couleur :</span></u></i>
  &nbsp;{{artillerie.CouleurCulot}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Type d’inscription :</span></u></i>
  &nbsp;{{artillerie.typeInscCulot}}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Couleur inscription :</span></u></i>
  &nbsp;{{artillerie.couleurInscCulot}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:109.7pt'>
  <td width=360 colspan=3 rowspan=2 valign=top style='width:269.9pt;border-top:
  none;border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:109.7pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>CHARGEMENT</span></u></b><b><span
  style='font-size:12.0pt'> </span></b><span style='font-size:16.0pt'>: </span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Charge militaire&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Nature&nbsp;:</span></u></i><span style='font-size:
  12.0pt'> </span>{%for munition in artillerie.natureChargeMili%}&nbsp;
  {{munition.natureCharge}}&nbsp; {%endfor%}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Poids&nbsp;:</span></u></i><span style='font-size:12.0pt'>
  </span>{{artillerie.poidsChargeMili}} {{artillerie.uniteQMA}}</p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Charge de dispersion</span></b><span
  style='font-size:12.0pt'>&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Nature&nbsp;:</span></u></i><span style='font-size:
  12.0pt'> </span>{%for munition in artillerie.natureChargeDispersion%}&nbsp;
  {{munition.natureChargeDispersion}}&nbsp; {%endfor%}</p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Poids (g)&nbsp;:</span></u></i><span style='font-size:12.0pt'>
  </span>{{artillerie. poidsChargeDispersion}}</p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Effet terminal&nbsp;:</span></b>
  {%for munition in artillerie.effetChargement%}
  &nbsp;{{munition.effetChargement}}&nbsp; {%endfor%}</p>
  </td>
  <td colspan=4 style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 0cm 0cm 0cm;height:109.7pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'> <span lang=EN-US>FUSEE</span></span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'> </span></b><span lang=EN-US
  style='font-size:16.0pt'>:</span></p>
  <p class=MsoNormal><span style='font-size:5.0pt'>&nbsp;</span></p>
  <p class=MsoNormal><i><u><span lang=EN-US style='font-family:"Arial","sans-serif"'>Position</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;:</span></i><span
  lang=EN-US> {%for munition in artillerie.positionFusee%}
  &nbsp;{{munition.positionFusee}}&nbsp; {%endfor%}</span></p>
  <p class=MsoNormal><i><u><span style='font-family:"Arial","sans-serif"'>Nom</span></u></i><u><span
  style='font-size:12.0pt'>&nbsp;</span></u><span style='font-size:12.0pt'>: </span>{{artillerie.
  nomFusee1}}</p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:109.65pt'>
  <td colspan=4 style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 0cm 0cm 0cm;height:109.65pt'>
  <p class=MsoNormal><b><u><span style='font-size:12.0pt'>LISTE DES
  SOURCES&nbsp;:</span></u></b> </p>
  <p class=MsoNormal>&nbsp;</p>
  <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt'>{%for munition
  in entity.origineInfos %}&nbsp; {{munition.origineInfos }}&nbsp; {%endfor%}</span></p>
  </td>
 </tr>
 <tr height=0>
  <td width=82 style='border:none'></td>
  <td width=84 style='border:none'></td>
  <td width=192 style='border:none'></td>
  <td width=63 style='border:none'></td>
  <td width=47 style='border:none'></td>
  <td width=17 style='border:none'></td>
  <td width=247 style='border:none'></td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=729
 style='width:547.05pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=170 style='width:127.65pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=350 colspan=2 style='width:262.85pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=209 style='width:156.55pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=729 colspan=4 style='width:547.05pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;&nbsp; {{
  entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:60.4pt'>
  <td width=729 colspan=4 valign=top style='width:547.05pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;
  border-right:double windowtext 1.5pt;padding:0cm 3.5pt 0cm 3.5pt;height:60.4pt'>
  <p class=MsoHeader><span lang=EN-US style='font-family:"Arial","sans-serif";
  color:gray;background:white'>&nbsp;</span><b><u><span lang=EN-US
  style='font-size:12.0pt'>ASPECT-DIMENSIONS </span></u></b><span lang=EN-US
  style='font-size:16.0pt'>:</span></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesDimensions is defined %}{% for images in entity.imagesDimensions%}{% if
  loop.index == 1 %}</span><img width=40%
  src="{{app.request.basepath}}/uploads/Dimensions/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:233.85pt'>
  <td width=350 colspan=2 valign=top style='width:262.5pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:233.85pt'>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Longueur avec fusée</span></u><span
  style='font-size:12.0pt'>&nbsp;: </span></p>
  <p class=MsoNormal><i><u><span lang=EN-US style='font-family:"Arial","sans-serif";
  background:white'>Sans douille&nbsp;:</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif";background:white'>
  {% if artillerie.lgTotavecFusee is not empty%}{{artillerie.lgTotavecFusee}} mm{%else%}{%endif%}&nbsp; <u>Avec douille&nbsp;:</u>
  {% if artillerie.lgTotavecFuseeDouille is not empty%}{{artillerie.lgTotavecFuseeDouille}} mm{%else%}{%endif%}</span></i></p>
  <p class=MsoNormal><u><span style='font-size:12.0pt'>Hauteur sous fusée</span></u><span
  style='font-size:12.0pt'>. &nbsp;: </span>{% if artillerie.lgTotsansFusee is not empty%}{{artillerie.lgTotsansFusee}} mm{%else%}{%endif%}</p>
  <p class=MsoNormal><u><span lang=EN-US style='font-size:12.0pt'>Hauteur Projectile
  </span></u><span lang=EN-US style='font-size:12.0pt'>&nbsp;:</span><span lang=EN-US>{%if artillerie.hautProjectile is not empty%}{{artillerie.hautProjectile}} mm{%else%}{%endif%}</span></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>Ogive&nbsp;: </span></b></p>
  <p class=MsoNormal><i><u><span lang=EN-US style='font-family:"Arial","sans-serif";
  background:white'>Forme&nbsp;:</span></u></i><span lang=EN-US>
  &nbsp;{{artillerie.formeOgive}}</span></p>
  <p class=MsoNormal><i><u><span lang=EN-US style='font-family:"Arial","sans-serif";
  background:white'>Ø Bague de Raccordement (mm)&nbsp;:</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif";background:white'>
  {{artillerie.bagueDeRaccordement}}&nbsp;&nbsp; <u>Ø Oeil (mm)&nbsp;:</u>
  {{artillerie.diametreDelOeil}}</span></i></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>Gaine&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif";background:white'>Forme</span></u></i><i><u><span
  lang=EN-US>&nbsp;:</span></u></i><span lang=EN-US style='font-size:12.0pt'>&nbsp;
  </span><span lang=EN-US>{{artillerie.formeDeGaine}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Type&nbsp;:</span></u></i><span
  lang=EN-US> &nbsp;&nbsp;&nbsp;&nbsp;{{artillerie.TypeGaine}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Hauteur&nbsp;(mm) :</span></u></i><span
  lang=EN-US style='font-size:12.0pt'> </span><span lang=EN-US>{{artillerie.
  hauteurDeLaGaine}}</span><span lang=EN-US style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span><i><u><span lang=EN-US style='font-family:"Arial","sans-serif"'>Ø ext
  (mm)&nbsp;:</span></u></i><span lang=EN-US style='font-size:12.0pt'> </span><span
  lang=EN-US>{{artillerie. diametreExterieurDeLaGaine1}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Ø ext gaine bas (mm)&nbsp;:</span></u></i><span
  lang=EN-US style='font-size:12.0pt'> </span><span lang=EN-US>{{artillerie.
  diametreExterieurDeLaGaine2}}</span></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>Corps&nbsp;: </span></b><span
  lang=EN-US>{{artillerie.formeCorps}}</span></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:10.0pt'>Renflement
  1&nbsp;: </span></b><span lang=EN-US>{{artillerie.typeDeRenflement1}}</span></p>
  <p class=MsoNormal><i><u><span lang=EN-US style='font-family:"Arial","sans-serif"'>Position&nbsp;:</span></u></i><span
  lang=EN-US style='font-size:10.0pt'>&nbsp;</span><span lang=EN-US>{{artillerie.positionDeRenflement1}}</span><span
  lang=EN-US style='font-size:10.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i><u><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>Largeur (mm)&nbsp;:</span></u></i><span
  lang=EN-US style='font-size:10.0pt'> </span><span lang=EN-US>{{artillerie.
  largeurRenflement1}}</span></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:10.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:10.0pt'>Renflement
  2&nbsp;: </span></b><span lang=EN-US>{{artillerie.typeDeRenflement2}}</span></p>
  <p class=MsoNormal><i><u><span lang=EN-US style='font-family:"Arial","sans-serif"'>Position&nbsp;:</span></u></i><span
  lang=EN-US style='font-size:10.0pt'>&nbsp;</span><span lang=EN-US>{{artillerie.
  positionDeRenflement2}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i><u><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>Largeur (mm)&nbsp;:</span></u></i><span
  lang=EN-US style='font-size:10.0pt'> </span><span lang=EN-US>{{artillerie.largeurRenflement2}}</span></p>
  <p class=MsoNormal><i><span lang=EN-US style='font-family:"Arial","sans-serif";
  color:gray;background:white'>&nbsp;</span></i></p>
  </td>
  <td width=379 colspan=2 valign=top style='width:284.55pt;border-top:none;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:233.85pt'>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Sabot&nbsp;: </span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Type</span></u></i><i><span style='font-family:"Arial","sans-serif"'>&nbsp;:
  </span></i><span style='font-family:"Arial","sans-serif"'>{{artillerie.TypeSabot}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i><u>Longueur (mm)&nbsp;:</u><b> </b></i>{{artillerie.longueurSabot}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'>&nbsp;</p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Culot&nbsp;: </span></b><span
  style='font-family:"Arial","sans-serif"'>{{artillerie.FormeCulot}}</span></p>
  <p class=MsoNormal><i><u><span style='font-family:"Arial","sans-serif";
  background:white'>Ø&nbsp; Puits de culot (mm)&nbsp;:</span></u></i><i><span
  style='font-family:"Arial","sans-serif";background:white'> </span></i><span
  style='font-family:"Arial","sans-serif"'>{{artillerie.diametrePuitsCulot}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Plaque&nbsp;: </span></b><span
  style='font-family:"Arial","sans-serif"'>{{artillerie.TypePlaque}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Nb de gorge de sertissage (mm) :</span></u></i><span
  style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;{{artillerie.nBGorges}} </span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Distance culot-gorge (mm)</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;: </span></i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>{{artillerie.distCulotGorge}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Ø jupe (mm)</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;:&nbsp;</span></i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>{{artillerie.diametreJupe}}<i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Longueur (mm)&nbsp;:</u> </i>{{artillerie.longueurJupe}}</span></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>Empennage&nbsp;:</span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Type&nbsp;:</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;</span></i><span
  lang=EN-US> </span><span lang=EN-US style='font-family:"Arial","sans-serif"'>{{artillerie.TypeEmpennage}}</span><span
  lang=EN-US> </span><i><span lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Longueur
  (mm)&nbsp;:</u><b> </b></span></i><span lang=EN-US style='font-family:"Arial","sans-serif"'>{{artillerie.longEmpennage}}</span></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>Ailettes&nbsp;:
  </span></b></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Forme</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;:&nbsp;</span></i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>{{artillerie.formeAilettes}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Nb</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;: </span></i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>{{artillerie.nbAilettes}}</span></p>
  <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Elément aéro
  AVANT&nbsp;: </span></b>&nbsp;<span style='font-family:"Arial","sans-serif"'>{{artillerie.typeElemAeroAV}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span style='font-family:
  "Arial","sans-serif"'>Forme</span></u></i><i><span style='font-family:"Arial","sans-serif"'>&nbsp;:&nbsp;</span></i><span
  style='font-family:"Arial","sans-serif"'>{{artillerie.formeElemAeroAV}}</span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><u><span style='font-family:"Arial","sans-serif"'>Position</span></u></i><i><span
  style='font-family:"Arial","sans-serif"'>&nbsp;: </span></i><span
  style='font-family:"Arial","sans-serif"'>{{artillerie.positionElemAeroAV}}</span></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoNormal><b><span style='font-size:12.0pt'>Elément aéro
  ARRIERE&nbsp;:</span></b> <span style='font-family:"Arial","sans-serif"'>{{artillerie.typeElemAeroAR}}</span></p>
  <p class=MsoNormal style='text-indent:10.7pt'><i><u><span lang=EN-US
  style='font-family:"Arial","sans-serif"'>Forme</span></u></i><i><span
  lang=EN-US style='font-family:"Arial","sans-serif"'>&nbsp;:&nbsp;</span></i><span
  lang=EN-US> </span><span lang=EN-US style='font-family:"Arial","sans-serif"'>{{artillerie.formeElemAeroAR}}<i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <u>Position</u>&nbsp;: </i>{{artillerie.positionElemAeroAR}}</span></p>
  </td>
 </tr>
 <tr>
  <td width=170 style='width:127.65pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=180 style='width:134.85pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=171 style='width:128.0pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=209 style='width:156.55pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:99.45pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:99.45pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>AMORCAGE&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span
  lang=EN-US style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><b><span lang=EN-US style='font-size:15.0pt'>&nbsp;</span></b></p>
<p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in
  entity.imagesFusees%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/FuseesAllumeurs/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  <p class=MsoHeader><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesFusees is defined %}{% for images in
  entity.imagesFusees%}{% if loop.index == 2 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/FuseesAllumeurs/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>&nbsp;</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:78.15pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:78.15pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  lang=EN-US style='font-size:12.0pt'>MARQUAGE&nbsp;</span></u></b><b><span
  lang=EN-US style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span
  lang=EN-US style='font-size:12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><b><span lang=EN-US style='font-size:15.0pt'>&nbsp;</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesMarquages is defined %}{% for images in
  entity.imagesMarquages%}{% if loop.index == 1 %}</span><img width=60%
  src="{{app.request.basepath}}/uploads/Marquages/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:101.55pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:101.55pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span style='font-size:
  12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt'>{{ entity.fonctionnement
  }}&nbsp;</span></p>
  <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in entity.imagesFonctionnement%}{%
  if loop.index == 1 %}<img width=60%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}/{{ entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:110.0pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:110.0pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>FONCTIONNEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;</span></b></p>
  <p class=MsoHeader align=center style='text-align:center'>{% if
  entity.imagesFonctionnement is defined %}{% for images in
  entity.imagesFonctionnement%}{% if loop.index == 2 %}<img width=45%
  src="{{app.request.basepath}}/uploads/Fonctionnement/{{entity.className}}/{{images.name}}">{%endif%}{%endfor%}{%endif%}</p>
  </td>
 </tr>
 <tr style='height:61.3pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:61.3pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>SECURITE :</u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'><span style='font-size:10.0pt'>{{
  entity.securite }}<u> </u></span></p>
  </td>
 </tr>
</table>

<span style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=169 style='width:126.95pt;border:double windowtext 1.5pt;
  padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=385 style='width:288.9pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  lang=EN-US style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=173 style='width:129.95pt;border:double windowtext 1.5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal style='margin-bottom:3.0pt'><b><u><span style='font-size:
  15.0pt'>NOM</span></u></b><b><span style='font-size:15.0pt'> :&nbsp;{{
  entity.nomine }}&nbsp; </span></b></p>
  </td>
 </tr>
 <tr style='height:94.45pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:94.45pt'>
  <p class=MsoNormal style='margin-top:6.0pt;text-align:justify'><b><u><span
  style='font-size:12.0pt'>TRAITEMENT&nbsp;</span></u></b><b><span
  style='font-size:12.0pt'>:&nbsp;&nbsp; </span></b><span style='font-size:
  12.0pt'>&nbsp;</span></p>
  <p class=MsoBodyText><span style='font-size:10.0pt'>{{ entity.NEDE }}&nbsp;</span></p>
  <p class=MsoBodyText>&nbsp;</p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesTraitement is defined %}{% for images in
  entity.imagesTraitement%}{% if loop.index == 1 %}</span><img width=50%
  src="{{app.request.basepath}}/uploads/Traitement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
</table>

<span lang=EN-US style='font-size:10.0pt;font-family:"Times New Roman","serif"'><br
clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=728
 style='width:545.8pt;margin-left:-3.6pt;border-collapse:collapse'>
 <tr style='page-break-inside:avoid;height:22.4pt'>
  <td width=189 style='width:141.8pt;border:double windowtext 1.5pt;padding:
  0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'><img width=32 height=40
  src="{{asset('images/piam.png')}}"></span></b></p>
  <p class=MsoNormal align=center style='margin-top:12.0pt;margin-right:-3.5pt;
  margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:center'><b><span
  style='font-size:16.0pt'>FEOD</span></b></p>
  </td>
  <td width=378 style='width:10.0cm;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><b><span
  style='font-size:16.0pt'>ARTILLERIE</span></b></p>
  </td>
  <td width=161 style='width:120.5pt;border:double windowtext 1.5pt;border-left:
  none;padding:0cm 3.5pt 0cm 3.5pt;height:22.4pt'>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>Fiabilité/Cohérence</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><span
  style='font-size:8.0pt'>&nbsp;</span></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.fiabiliteSource }}</span></i></p>
  <p class=MsoNormal align=center style='margin-right:-3.5pt;text-align:center'><i><span
  style='font-family:"Arial","sans-serif";color:gray;background:white'>{{
  entity.coherenceInformation }}</span></i></p>
  </td>
 </tr>
 <tr style='page-break-inside:avoid;height:26.3pt'>
  <td width=728 colspan=3 style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:26.3pt'>
  <p class=MsoNormal><b><u><span style='font-size:15.0pt'>NOM</span></u></b><b><span
  style='font-size:15.0pt'> : {{ entity.nomine }}</span></b></p>
  </td>
 </tr>
 <tr style='height:400.6pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:400.6pt'>
  <p class=MsoBodyText style='margin-top:6.0pt'><b><u>CONDITIONNEMENT</u> </b>:
  &nbsp;</p>
  <p class=MsoNormal style='text-align:justify'>&nbsp;</p>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
   style='border-collapse:collapse'>
   <tr style='height:1.0cm'>
    <td width=141 colspan=2 style='width:105.65pt;border:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Type d’emballage</span></p>
    </td>
    <td width=302 colspan=5 style='width:226.15pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{% for munition in entity.conditionnementTypeEmballage
    %}&nbsp; {{munition.Emballage}}&nbsp; {%endfor%}</p>
    </td>
    <td width=139 colspan=3 style='width:104.25pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Quantité </span></p>
    </td>
    <td width=135 colspan=3 style='width:101.25pt;border:solid windowtext 1.5pt;
    border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementQteEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=141 colspan=2 style='width:105.65pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Marquage </span></p>
    </td>
    <td width=302 colspan=5 style='width:226.15pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementMarquageEmballage}}</p>
    </td>
    <td width=139 colspan=3 style='width:104.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Cloisonnement</span></p>
    </td>
    <td width=135 colspan=3 style='width:101.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span lang=EN-US style='font-size:11.0pt'>&nbsp;</span><span
    lang=EN-US>{%for munition in
    entity.conditionnementTypeCloisonnement%}&nbsp; {{munition.cloison}}&nbsp;
    {%endfor%}</span></p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=84 style='width:62.9pt;border:solid windowtext 1.5pt;border-top:
    none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Hauteur (cm)</span></p>
    </td>
    <td width=57 style='width:42.75pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementDimEmballageHaut}}</p>
    </td>
    <td width=144 colspan=3 style='width:108.2pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Largeur (cm)</span></p>
    </td>
    <td width=157 colspan=2 style='width:117.95pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementDimEmballageLarg}}</p>
    </td>
    <td width=87 colspan=2 style='width:65.5pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Longueur (cm)</span></p>
    </td>
    <td width=52 style='width:38.75pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementDimEmballageLong}}</p>
    </td>
    <td width=80 colspan=2 style='width:59.8pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Volume (m³)</span></p>
    </td>
    <td width=55 style='width:41.45pt;border-top:none;border-left:none;
    border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementVolumeEmballage}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=141 colspan=2 style='width:105.65pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids de l’emballage (kg)</span></p>
    </td>
    <td width=302 colspan=5 style='width:226.15pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementPoidsEmballage}}</p>
    </td>
    <td width=139 colspan=3 style='width:104.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>Poids total (kg)</span></p>
    </td>
    <td width=135 colspan=3 style='width:101.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementPoidsTotal}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=168 colspan=3 style='width:125.8pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage mini (°C)</span></p>
    </td>
    <td width=180 colspan=3 style='width:134.65pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementTempStockMin}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° de stockage max (°C)</span></p>
    </td>
    <td width=199 colspan=5 style='width:149.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>&nbsp;</span>{{entity.conditionnementTempStockMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=168 colspan=3 style='width:125.8pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation mini
    (°C)</span></p>
    </td>
    <td width=180 colspan=3 style='width:134.65pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMin}}</p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal><span style='font-size:11.0pt'>T° d’utilisation max (°C)</span></p>
    </td>
    <td width=199 colspan=5 style='width:149.25pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal>{{entity.conditionnementTempUtilMax}}</p>
    </td>
   </tr>
   <tr style='height:1.0cm'>
    <td width=168 colspan=3 style='width:125.8pt;border:solid windowtext 1.5pt;
    border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Classe
    de stockage/ </span></p>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>Groupe
    de comptabilité</span></p>
    </td>
    <td width=180 colspan=3 style='width:134.65pt;border-top:none;border-left:
    none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;
    padding:0cm 5.4pt 0cm 5.4pt;height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt'>&nbsp;</span><span
    lang=EN-US>{% for munition in
    entity.conditionnementClasseDangerStockage%}&nbsp;
    {{munition.classeDangerStockage}}&nbsp; {%endfor%}</span></p>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US>{% for
    munition in entity.conditionnementGroupeComptabiliteStockage %}&nbsp;
    {{munition.groupeComptabiliteStockage}}&nbsp; {%endfor%}</span></p>
    </td>
    <td width=170 colspan=2 style='width:127.6pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
    <td width=199 colspan=5 style='width:149.25pt;padding:0cm 5.4pt 0cm 5.4pt;
    height:1.0cm'>
    <p class=MsoNormal style='text-align:justify'><span lang=EN-US
    style='font-size:11.0pt'>&nbsp;</span></p>
    </td>
   </tr>
  </table>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>&nbsp;</span></p>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>{%
  if entity.imagesConditionnement is defined %}{% for images in
  entity.imagesConditionnement%}{% if loop.index == 1 %}</span><img width=40%
  src="{{app.request.basepath}}/uploads/Conditionnement/{{entity.className}}/{{images.name}}"><span
  lang=EN-US>{%endif%}{%endfor%}{%endif%}</span></p>
  </td>
 </tr>
 <tr style='height:68.3pt'>
  <td width=728 colspan=3 valign=top style='width:545.8pt;border:double windowtext 1.5pt;
  border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:68.3pt'>
  <p class=MsoBodyText style='margin-top:6.0pt;text-indent:3.6pt'><b><u>REMARQUES&nbsp;:</u></b></p>
  <p class=MsoBodyText style='margin-top:6.0pt'><span style='font-size:10.0pt'>{{
  entity.remarques }} </span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
